<div class="main-content maincontainer">
  <div class="content">
    <div class="col-md-12 col-sm-12 col-xs-12 mt-4" style="display:none">
       <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
           <img src="../../assets/images/loader.gif" class="loaderimagepage" />
       </div>
   </div>
     <form>
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
           <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
              <span class="legal"></span>
           </div>
           <div class="rightmenu">
              <div class="toolbar pull-right">
                 <ul class="toolbar-content">
                    <li >
                       <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to CSV"></i>
                       <label>
                          Export to CSV
                       </label>
                      
                    </li>
                    <li >
                       <i class="fa fa-file-pdf-o" aria-hidden="true" title="Export to Pdf"></i>
                       <label>
                     
                       Export to PDF
                       </label>
                      
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="row">
        
           <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
             <div class="col-md-3 col-xs-3 col-xs-12 ">
                <div class="form-group">
                  <label class="col-sm-5 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                    Dropdown 1 :
                  </label>
                  <div class="col-sm-7 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                      <select class="dropdown col-sm-12 col-md-12 col-xs-12">
          
                          <option>Select</option>
                          <option> 1</option>  
                          <option> 1</option>                      
                      </select>
                                    
                  </div>
              </div>
             </div>
             <div class="col-md-3 col-xs-3 col-xs-12 ">
              <div class="form-group">
                <label class="col-sm-5 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                  Dropdown 2 :
                </label>
                <div class="col-sm-7 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                    <select class="dropdown col-sm-12 col-md-12 col-xs-12">
        
                        <option>Select</option>
                        <option> 1</option>  
                        <option> 1</option>                      
                    </select>
                                  
                </div>
            </div>
           </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                 <div class="form-group">
                    <label class="col-sm-3 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                    Date :
                    </label>
                    <div class="col-sm-9 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                      <input type="date" class="col-sm-12 col-md-12 col-xs-12">
                    </div>
                 </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-12 mt-2 pull-right">
                  <button type="button" class="btn btn-success">Search</button> 
                 
               
              </div>
           </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv p-0"  style="display:block">
           <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
              <div class="col-sm-6 col-md-6 col-xs-3 ">
                 <span class="legal"></span>
              </div>
              <div class="rightmenu" style="display:block">
                 <div class="toolbar pull-right">
                    <ul class="toolbar-content btnCon">
                      <li>
                         
                         <label>
                            Previous Day
                         </label>
                     </li>
                     <li>
                      
                         <label>
                            Last One Week
                         </label>
                     </li>
                      
                      <li>
                             
                              <label>
                                Last One Month
                              </label>
                          </li>
                    </ul>
                 </div>
              </div>
           </div>
           <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="holdingreportGrid">
                 <table class="bankmasterTable">
                   <thead>
                       <tr>
                          <th style="width: 220px">Security</th>
                          <th style="width: 222px">Quantity</th>
                          <th style="width: 233px">Unit Cost</th>
                          <th style="width: 204px">Cost</th>
                          <th style="width: 205px">Price</th>
                          <th style="width: 124px">Market Value</th>
                          <th style="width: 204px">Gain / Loss (+/-)</th>
                          <th style="width: 205px">% G/L</th>
                          <th style="width: 124px">% Assets</th>
                       </tr>
                    </thead>
                    <tbody class="scrollbar">
                       <tr>
                          <td colspan="9">
                              <strong >Equity
                             </strong> </td>
                             </tr>
                               <!-- <tr *ngFor="let data of statementOfExpenses3 ; index as i">
                                      <td colspan="6" class="text-center">{{data.Date }}</td>
                                   </tr> -->
                                   
                                   <tr>
                                    <td style="width: 153px">ICICI Bank</td>
                                    <td style="width: 152px">5252</td>
                                    <td style="width: 150px">5252</td>
                                    <td style="width: 135px">5252</td>
                                    <td style="width: 137px">5252</td>
                                    <td style="width: 91px">5252</td>
                                    <td style="width: 130px">5252</td>
                                    <td style="width: 137px">-92%</td>
                                    <td style="width: 204px">92%</td>
                                 </tr>
                                 <tr>
                                  <td style="width: 153px">ICICI Bank</td>
                                  <td style="width: 152px">5252</td>
                                  <td style="width: 150px">5252</td>
                                  <td style="width: 135px">5252</td>
                                  <td style="width: 137px">5252</td>
                                  <td style="width: 91px">5252</td>
                                  <td style="width: 130px">5252</td>
                                  <td style="width: 137px">-92%</td>
                                  <td style="width: 204px">92%</td>
                               </tr>
                               <tr>
                                <td style="width: 153px">ICICI Bank</td>
                                <td style="width: 152px">5252</td>
                                <td style="width: 150px">5252</td>
                                <td style="width: 135px">5252</td>
                                <td style="width: 137px">5252</td>
                                <td style="width: 91px">5252</td>
                                <td style="width: 130px">5252</td>
                                <td style="width: 137px">-92%</td>
                                <td style="width: 204px">92%</td>
                             </tr>
                             <tr>
                              <td style="width: 153px">ICICI Bank</td>
                              <td style="width: 152px">5252</td>
                              <td style="width: 150px">5252</td>
                              <td style="width: 135px">5252</td>
                              <td style="width: 137px">5252</td>
                              <td style="width: 91px">5252</td>
                              <td style="width: 130px">5252</td>
                              <td style="width: 137px">-92%</td>
                              <td style="width: 204px">92%</td>
                           </tr>
                           <tr>
                            <td style="width: 153px">ICICI Bank</td>
                            <td style="width: 152px">5252</td>
                            <td style="width: 150px">5252</td>
                            <td style="width: 135px">5252</td>
                            <td style="width: 137px">5252</td>
                            <td style="width: 91px">5252</td>
                            <td style="width: 130px">5252</td>
                            <td style="width: 137px">-92%</td>
                            <td style="width: 204px">92%</td>
                         </tr>
                         <tr>
                          <td style="width: 153px">ICICI Bank</td>
                          <td style="width: 152px">5252</td>
                          <td style="width: 150px">5252</td>
                          <td style="width: 135px">5252</td>
                          <td style="width: 137px">5252</td>
                          <td style="width: 91px">5252</td>
                          <td style="width: 130px">5252</td>
                          <td style="width: 137px">-92%</td>
                          <td style="width: 204px">92%</td>
                       </tr>
                       <tr>
                        <td style="width: 153px">ICICI Bank</td>
                        <td style="width: 152px">5252</td>
                        <td style="width: 150px">5252</td>
                        <td style="width: 135px">5252</td>
                        <td style="width: 137px">5252</td>
                        <td style="width: 91px">5252</td>
                        <td style="width: 130px">5252</td>
                        <td style="width: 137px">-92%</td>
                        <td style="width: 204px">92%</td>
                     </tr>

                     <tr>
                      <td style="width: 153px">ICICI Bank</td>
                      <td style="width: 152px">5252</td>
                      <td style="width: 150px">5252</td>
                      <td style="width: 135px">5252</td>
                      <td style="width: 137px">5252</td>
                      <td style="width: 91px">5252</td>
                      <td style="width: 130px">5252</td>
                      <td style="width: 137px">-92%</td>
                      <td style="width: 204px">92%</td>
                   </tr>
                   <tr>
                    <td style="width: 153px">ICICI Bank</td>
                    <td style="width: 152px">5252</td>
                    <td style="width: 150px">5252</td>
                    <td style="width: 135px">5252</td>
                    <td style="width: 137px">5252</td>
                    <td style="width: 91px">5252</td>
                    <td style="width: 130px">5252</td>
                    <td style="width: 137px">-92%</td>
                    <td style="width: 204px">92%</td>
                 </tr>
                 <tr>
                  <td style="width: 153px">ICICI Bank</td>
                  <td style="width: 152px">5252</td>
                  <td style="width: 150px">5252</td>
                  <td style="width: 135px">5252</td>
                  <td style="width: 137px">5252</td>
                  <td style="width: 91px">5252</td>
                  <td style="width: 130px">5252</td>
                  <td style="width: 137px">-92%</td>
                  <td style="width: 204px">92%</td>
               </tr>
               <tr>
                <td style="width: 153px">ICICI Bank</td>
                <td style="width: 152px">5252</td>
                <td style="width: 150px">5252</td>
                <td style="width: 135px">5252</td>
                <td style="width: 137px">5252</td>
                <td style="width: 91px">5252</td>
                <td style="width: 130px">5252</td>
                <td style="width: 137px">-92%</td>
                <td style="width: 204px">92%</td>
             </tr>
             <tr>
              <td style="width: 153px">ICICI Bank</td>
              <td style="width: 152px">5252</td>
              <td style="width: 150px">5252</td>
              <td style="width: 135px">5252</td>
              <td style="width: 137px">5252</td>
              <td style="width: 91px">5252</td>
              <td style="width: 130px">5252</td>
              <td style="width: 137px">-92%</td>
              <td style="width: 204px">92%</td>
           </tr>
           <tr>
            <td style="width: 153px">ICICI Bank</td>
            <td style="width: 152px">5252</td>
            <td style="width: 150px">5252</td>
            <td style="width: 135px">5252</td>
            <td style="width: 137px">5252</td>
            <td style="width: 91px">5252</td>
            <td style="width: 130px">5252</td>
            <td style="width: 137px">-92%</td>
            <td style="width: 204px">92%</td>
         </tr>
         <tr>
          <td style="width: 153px">ICICI Bank</td>
          <td style="width: 152px">5252</td>
          <td style="width: 150px">5252</td>
          <td style="width: 135px">5252</td>
          <td style="width: 137px">5252</td>
          <td style="width: 91px">5252</td>
          <td style="width: 130px">5252</td>
          <td style="width: 137px">-92%</td>
          <td style="width: 204px">92%</td>
       </tr>



     <tr>
      <td style="width: 153px"></td>
      <td style="width: 152px">5252</td>
      <td style="width: 150px">5252</td>
      <td style="width: 135px">5252</td>
      <td style="width: 137px">5252</td>
      <td style="width: 91px">5252</td>
      <td style="width: 130px">5252</td>
      <td style="width: 137px">-92%</td>
      <td style="width: 204px">92%</td>
   </tr>
   <tr>
    <td style="width: 153px">Cash and Equivalent</td>
    <td style="width: 152px"></td>
    <td style="width: 150px"></td>
    <td style="width: 135px"></td>
    <td style="width: 137px"></td>
    <td style="width: 91px"></td>
    <td style="width: 130px"></td>
    <td style="width: 137px"></td>
    <td style="width: 204px"></td>
 </tr>
                         
 <tr>
  <td style="width: 153px">Cash</td>
  <td style="width: 152px">5252</td>
  <td style="width: 150px">5252</td>
  <td style="width: 135px">5252</td>
  <td style="width: 137px">5252</td>
  <td style="width: 91px">5252</td>
  <td style="width: 130px">5252</td>
  <td style="width: 137px">-92%</td>
  <td style="width: 204px">92%</td>
</tr>
                                </tbody>
                             
                            
                          
                      
                   
                 </table>
              </div>
           </div>

          <div class="paginationDiv">
             <span class="previousBtn">Previous</span>
             <span class="paginationCount"></span>
             <span class="nextBtn" >Next</span>
         </div>
         
        </div>
      
  
     </form>
  </div>
</div>