<div class="main-content maincontainer">
  <div class="content">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
       <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
           <img src="../../assets/images/loader.gif" class="loaderimagepage" />
       </div>
   </div> -->
   <div class="loaderOverlay"  *ngIf="loader1" ></div>
   <div class="col-md-12 col-sm-12 col-xs-12 loaderposition" *ngIf="loader2">
       <img src="../../assets/images/loader.gif" />
   </div>
     <form [formGroup]="PortfolioAppraisalsForm">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
           <div class="col-sm-6 col-md-6 col-xs-3">
            <span class="legal">Portfolio Appraisals</span>
       </div>
           <div class="rightmenu">
              <div class="toolbar pull-right">
                 <ul class="toolbar-content">
                    <!-- <li >
                       <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to CSV"></i>
                       <label>
                          Export to CSV
                       </label>
                      
                    </li> -->
                    <li (click)="downloadPDFFile()">
                       <i class="fa fa-file-pdf-o" aria-hidden="true" title="Export to Pdf"></i>
                       <label>
                     
                       Export to PDF
                       </label>
                      
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="row">
        
           <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
             <div class="col-md-3 col-xs-3 col-xs-12 " *ngIf="isShowsEmployee">
                <div class="form-group">
                  <label class="col-sm-5 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                     Employee Name:
                  </label>
                  <div class="col-sm-7 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                      <select class="dropdown col-sm-12 col-md-12 col-xs-12" #EmployeeId formControlName="EmployeeId" (change)="BindCustomerOnChange(EmployeeId.value)" >
          
                        <option value="0">All Employee</option>
                        <option *ngFor="let Data of BindemployeesList" value={{Data.PMSEmpId}} text={{Data.EmployeeName}}>                                            
                      </select>
                                    
                  </div>
              </div>
             </div>
             <div class="col-md-3 col-xs-3 col-xs-12 " *ngIf="isShowCustomer">
              <div class="form-group">
                <label class="col-sm-5 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                  Customer Name:
                </label>
                <div class="col-sm-7 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                  <select class="col-md-12 col-xs-12 col-sm-12"  formControlName="UserId">
                     <option value="0" selected>All Customer</option>
                     <option *ngFor="let data of customer" value={{data.UserId}}  >
                         {{data.UserName}}
                     </option>
                  </select>
                                  
                </div>
            </div>
           </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                 <div class="form-group">
                    <label class="col-sm-3 col-md-3 col-xs-3 control-label no-padding" for="form-field-1">
                   As On:
                    </label>
                    <div class="col-sm-9 col-md-9 col-xs-9 no-padding-left displayinlineblock">
                      <input type="date" class="col-sm-12 col-md-12 col-xs-12" formControlName="FromDate" value="{{currentdate | date:'yyyy-mm-dd'}}" #Fromdate>
                    </div>
                 </div>
              </div>

              <!-- <div class="col-md-3 col-sm-4 col-xs-12">
               <div class="form-group">
                  <label class="col-sm-3 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                  To Date :
                  </label>
                  <div class="col-sm-9 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                    
                     <input type="date" class="col-sm-12 col-md-12 col-xs-12" formControlName="ToDate" value="{{currentdate | date:'yyyy-mm-dd'}}" #Todate> 
                  </div>
               </div>
            </div> -->

              <div class="col-md-1 col-sm-1 col-xs-12 mt-2">
               <button type="submit" (click)="onSubmit()" class="btn btn-success ml-5"> Search</button>
                 
               
              </div>
           </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv p-0"  style="display:block">
           <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
              <div class="col-sm-6 col-md-6 col-xs-3 ">
                 <span class="legal"></span>
              </div>
              <div class="rightmenu" style="display:block">
                 <div class="toolbar pull-right">
                    <ul class="toolbar-content btnCon">
                      <li (click)="PreviousDayFun()">
                         
                         <label>
                            Previous Day
                         </label>
                     </li>
                     <li (click)="LastOneWeekFun()">
                      
                         <label>
                            Last One Week
                         </label>
                     </li>
                      
                      <li (click)="LastOneMonthFun()">
                             
                              <label>
                                Last One Month
                              </label>
                          </li>
                    </ul>
                 </div>
              </div>
           </div>
           <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="IsShowRecord">
              <div class="holdingreportGrid">
                 <table class="bankmasterTable">
                  <label class="notelabel">**This is sample report. Actual report shall be as per the corporate requirement**</label>
                   <!-- <thead>
                       <tr>
                          <th style="width: 220px">Security</th>
                          <th style="width: 222px">Quantity</th>
                          <th style="width: 233px">Unit Cost</th>
                          <th style="width: 204px">Cost</th>
                          <th style="width: 205px">Price</th>
                          <th style="width: 124px">Market Value</th>
                          <th style="width: 204px">Gain / Loss (+/-)</th>
                          <th style="width: 205px">% G/L</th>
                          <th style="width: 124px">% Assets</th>
                       </tr>
                    </thead> -->
                    <tbody class="scrollbar" style="overflow-y: scroll;height: 412px;overflow-x: hidden; ">
                     
                       <tr>
                          <td colspan="9">
                           <tr *ngFor="let data of HeaderData ; index as i">
                              <td colspan="6" class="text-center">{{data.Date }}</td>
                           </tr>
                           <tr>
                              <th style="width: 153px">Security</th>
                              <th style="width: 152px">Quantity</th>
                              <th style="width: 150px">Unit Cost</th>
                              <th style="width: 135px">Cost</th>
                              <th style="width: 137px">Price</th>
                              <th style="width: 91px">Market Value</th>
                              <th style="width: 130px">Gain / Loss (+/-)</th>
                              <th style="width: 137px">% G/L</th>
                              <th style="width: 204px">% Assets</th>
                           </tr>
                              <strong *ngIf="isShowSecurity">Equity  </strong>
                              <strong *ngIf="isShowFutureData">Futures  </strong>
                             </td>
                             </tr>
                             <div *ngIf="isShowFutureData" >
                              <tr *ngFor="let data of secoundgrid ; index as i">
                               <td style="width: 153px">{{data.Security }}</td>
                               <td style="width: 152px">{{data.Quantity }}</td>
                               <td style="width: 150px">{{data.UnitCost }}</td>
                               <td style="width: 135px">{{data.Cost }}</td>
                               <td style="width: 137px">{{data.Price }}</td>
                               <td style="width: 91px">{{data.MarketValue }}</td>
                               <td style="width: 130px">{{data.Gain_Loss }}</td>
                               <td style="width: 137px">{{data.Gain_LossPer }}%</td>
                               <td style="width: 204px">{{data.PerAsstes }}%</td>
                            </tr>
                            </div>
                               <!-- <tr *ngFor="let data of statementOfExpenses3 ; index as i">
                                      <td colspan="6" class="text-center">{{data.Date }}</td>
                                   </tr> -->
                                   <div *ngIf="isShowSecurity" >
                                   <tr *ngFor="let data of PortfolioappraisalModel ; index as i">
                                    <td style="width: 153px" >{{data.Security }}</td>
                                    <td style="width: 152px">{{data.Quantity }}</td>
                                    <td style="width: 150px">{{data.UnitCost }}</td>
                                    <td style="width: 135px">{{data.Cost }}</td>
                                    <td style="width: 137px">{{data.Price }}</td>
                                    <td style="width: 91px">{{data.MarketValue }}</td>
                                    <td style="width: 130px">{{data.Gain_Loss }}</td>
                                    <td style="width: 137px">{{data.Gain_LossPer }}%</td>
                                    <td style="width: 204px">{{data.PerAsstes }}%</td>
                                 </tr>
                                 
    
                                 <tr *ngFor="let data of SumPortfolioappraisalModel ; index as i">
                                    <td style="width: 153px"></td>
                                    <td style="width: 152px"></td>
                                    <td style="width: 150px"></td>
                                    <td style="width: 135px">{{data.SumCost }}</td>
                                    <td style="width: 137px"></td>
                                    <td style="width: 91px">{{data.SumMarketValue }}</td>
                                    <td style="width: 130px">{{data.SumGain_Loss }}</td>
                                    <td style="width: 137px">{{data.SumGain_LossPer }}%</td>
                                    <td style="width: 204px">{{data.SumPerAsstes }}%</td>
                                 </tr>


   <tr>
    <td style="width: 153px">Cash and Equivalent</td>
    <td style="width: 152px"></td>
    <td style="width: 150px"></td>
    <td style="width: 135px"></td>
    <td style="width: 137px"></td>
    <td style="width: 91px"></td>
    <td style="width: 130px"></td>
    <td style="width: 137px"></td>
    <td style="width: 204px"></td>
 </tr>
                         
 <tr *ngFor="let data of cashportfolio ; index as i">
   <td style="width: 153px">Cash</td>
   <td style="width: 152px">{{data.Quantity }}</td>
   <td style="width: 150px">{{data.UnitCost }}</td>
   <td style="width: 135px">{{data.Cost }}</td>
   <td style="width: 137px">{{data.Price }}</td>
   <td style="width: 91px">{{data.MarketValue }}</td>
   <td style="width: 130px">{{data.Gain_Loss }}</td>
   <td style="width: 137px">{{data.Gain_LossPer }}%</td>
   <td style="width: 204px">{{data.PerAsstes }}%</td>
</tr>
<tr *ngFor="let data of cashportfolio ; index as i">
   <td style="width: 153px"></td>
   <td style="width: 152px">{{data.Quantity }}</td>
   <td style="width: 150px">{{data.UnitCost }}</td>
   <td style="width: 135px">{{data.Cost }}</td>
   <td style="width: 137px">{{data.Price }}</td>
   <td style="width: 91px">{{data.MarketValue }}</td>
   <td style="width: 130px">{{data.Gain_Loss }}</td>
   <td style="width: 137px">{{data.Gain_LossPer }}%</td>
   <td style="width: 204px">{{data.PerAsstes }}%</td>
</tr>
</div>
                                </tbody>
                             
                            
                          
                      
                   
                 </table>
              </div>
              <div class="paginationDiv">
               <span class="previousBtn" (click)="PreviousClick()" *ngIf="btnPrev">Previous</span>
               <span class="paginationCount"  id="lblcount"></span>
               <span class="nextBtn" (click)="NextClick()" *ngIf="btnNext" >Next</span>
             </div>
           </div>

          <!-- <div class="paginationDiv">
             <span class="previousBtn">Previous</span>
             <span class="paginationCount"></span>
             <span class="nextBtn" >Next</span>
         </div> -->

         <!-- <div class="paginationDiv">
            <span class="previousBtn" (click)="PreviousClick()" *ngIf="btnPrev">Previous</span>
            <span class="paginationCount"  id="lblcount"></span>
            <span class="nextBtn" (click)="NextClick()" *ngIf="btnNext" >Next</span>
          </div> -->

          <div id="NoRecord"  *ngIf="IsShowNoRecord" class="col-md-12 col-xs-12 col-sm-12">
            <div class="text" style="text-align: center;">
               <p>No Record Found</p>
            </div>
            </div>
         
        </div>
      
  
     </form>
  </div>
</div>