<div class="main-content maincontainer" id="divWidth">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 <span class="legal"></span>
             
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">

                    
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12 loaderposition" style="display:none">
            <img src="../../assets/images/loader.gif" class="loaderimagepage" />
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-12 col-lg-4">
<div class="col-md-12 col-sm-12 col-xs-12 ">

    <div class="searchbox">
        <span class="searchicon"><i class="fa fa-search"></i></span>
        <input type="text" class="col-md-12 col-sm-12 col-xs-12" placeholder="Search" #SearchData (keyup)="SearchFun(SearchData.value)"/>
    </div>
</div>
<!-- style="overflow-y: scroll; height: 559px;" -->
<div class="col-md-12 col-sm-12 col-xs-12 p-0 notificationscroll">
    <div class="col-md-12 col-sm-12 col-xs-12">
<div class="col-md-12 col-sm-12 col-xs-12 p-0 allunreaddatebox">

    <div class="col-md-1 col-sm-4 col-xs-2 p-0">
        <div class="msgall pull-left">
            <label (click)="AllFun()">All</label>
        </div>
      
    </div>
    <div class="col-md-7 col-sm-4 col-xs-4 p-0" (click)="UnReadFun()"> 
        <div class="unreadall pull-left">
            <label>Unread</label>
        </div>
      
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="date pull-right">
            <!-- <label>By Date</label> -->
        </div>
      
    </div>
</div>
</div>
<!-- <div class="col-md-12 col-sm-12 col-xs-12 ">

    <div class=" col-md-12 col-sm-12 col-xs-12 oldermsgbox pull-left">
       <label>Older</label>
    </div>
</div> -->



<!-- <div class="col-md-12 col-sm-12 col-xs-12 " *ngIf="UnReadDiv">
    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxactive" *ngFor="let Data of UnReadDataList" (click)="BindMessage(Data.Note,Data.NMId)">
        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
            <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
        <label><span [innerHTML]="Data.UserName"></span></label>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                
        <span class="pull-right">  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
        </div>
        </div>
<div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
        <label><span [innerHTML]="Data.Subject"></span></label>
        
        </div>
        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
            <label><span [innerHTML]="Data.Date"></span> </label>
            <label><span [innerHTML]="Data.Time"></span> </label>
            </div>
        </div>
      
</div>
 <!-- <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
    <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
        <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
    <label>Amity Online</label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
            
    <span class="pull-right">  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
        <label>Addmission Opens for Online Master course </label>
        
        </div>
        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
            <label>3/5/2020 </label>
            <label>5:30 PM </label>
            </div>
        </div>
     
    </div> -->
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
        <label>Kotak Mahindra Bank</label>
        
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
            <label>Hi Tarun, Open a Kotak 811 account insta...</label>
            
            </div>
            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                <label>3/5/2020 </label>
                <label>5:30 PM </label>
                </div>
            </div>
           
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
            <label>Amity Online</label>
            
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                <label>Addmission Opens for Online Master course </label>
                
                </div>
                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                    <label>3/5/2020 </label>
                    <label>5:30 PM </label>
                    </div>
                </div>
            
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                <label>Kotak Mahindra Bank</label>
                
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                    <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                    
                    </div>
                    <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                        <label>3/5/2020 </label>
                        <label>5:30 PM </label>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                    <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                    <label>Kotak Mahindra Bank</label>
                    
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                        <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                        
                        </div>
                        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                            <label>3/5/2020 </label>
                            <label>5:30 PM </label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                        <label>Amity Online</label>
                        
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                            <label>Addmission Opens for Online Master course </label>
                            
                            </div>
                            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                <label>3/5/2020 </label>
                                <label>5:30 PM </label>
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                            <label>Kotak Mahindra Bank</label>
                            
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                
                                </div>
                                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                    <label>3/5/2020 </label>
                                    <label>5:30 PM </label>
                                    </div>
                                </div>
                              
                            </div>  -->

<!--</div> -->
<div class="col-md-12 col-sm-12 col-xs-12 " *ngIf="AllDiv">
    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxactive" *ngFor="let Data of SearchList" (click)="BindMessage(Data.Note)">
        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
            <div class="col-md-10 col-sm-8 col-xs-10 p-0"> 
        <label><span [innerHTML]="Data.UserName"></span></label>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-2 pr-0"> 
                
        <span class="pull-right" *ngIf="Data.AttachmentFile !=''">  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
        </div>
        </div>
<div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
    <div class="notificationtext col-xs-10 col-md-9 col-sm-8">
        <label><span [innerHTML]="Data.Subject"></span></label>
        
        </div>
        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-4 pull-right">
            <label><span [innerHTML]="Data.Date"></span> </label>
            <label><span [innerHTML]="Data.Time"></span> </label>
            </div>
        </div>
      
</div>
<!-- <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
    <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
        <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
    <label>Amity Online</label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
            
    <span class="pull-right">  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
        <label>Addmission Opens for Online Master course </label>
        
        </div>
        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
            <label>3/5/2020 </label>
            <label>5:30 PM </label>
            </div>
        </div>
     
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
        <label>Kotak Mahindra Bank</label>
        
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
            <label>Hi Tarun, Open a Kotak 811 account insta...</label>
            
            </div>
            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                <label>3/5/2020 </label>
                <label>5:30 PM </label>
                </div>
            </div>
           
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
            <label>Amity Online</label>
            
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                <label>Addmission Opens for Online Master course </label>
                
                </div>
                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                    <label>3/5/2020 </label>
                    <label>5:30 PM </label>
                    </div>
                </div>
            
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                <label>Kotak Mahindra Bank</label>
                
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                    <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                    
                    </div>
                    <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                        <label>3/5/2020 </label>
                        <label>5:30 PM </label>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                    <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                    <label>Kotak Mahindra Bank</label>
                    
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                        <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                        
                        </div>
                        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                            <label>3/5/2020 </label>
                            <label>5:30 PM </label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                        <label>Amity Online</label>
                        
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                            <label>Addmission Opens for Online Master course </label>
                            
                            </div>
                            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                <label>3/5/2020 </label>
                                <label>5:30 PM </label>
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                            <label>Kotak Mahindra Bank</label>
                            
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                
                                </div>
                                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                    <label>3/5/2020 </label>
                                    <label>5:30 PM </label>
                                    </div>
                                </div>
                              
                            </div> -->

</div>

          </div>
        </div>
         <div class="col-md-7 col-sm-6 col-xs-12 mt-5 col-lg-8">
            <div class="col-md-12 col-sm-12 col-xs-12"> 
      
                <span class="pull-right attachment">
                     <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment">
                        
                   </i> <label>Download Attachment</label> </span>
                </div>
             <div class="col-md-12 col-sm-12 col-xs-12 boxright">

             <div class="col-md-12 col-xs-12 col-sm-12">
<div class="textbox ">

    <!-- We Are Happy To Tell You That Amity University Registration Are open For B.Tech/BBA/BCA/MBA
    For More Further information Contact Us On This No: 18000028767, 18800028767 -->
    <span [innerHTML]="Note"></span>


</div>


             </div>
            </div>
          </div>

    </div>

</div>
</div>