<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 <span class="legal"></span>
             
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">

                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
<div class="col-md-12 col-sm-12 col-xs-12 ">

    <div class="searchbox">
        <span class="searchicon"><i class="fa fa-search"></i></span>
        <input type="text" class="col-md-12 col-sm-12 col-xs-12" placeholder="Search"/>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 p-0" style="overflow-y: scroll; height: 559px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
<div class="col-md-12 col-sm-12 col-xs-12 p-0 allunreaddatebox">

    <div class="col-md-1 col-sm-4 col-xs-4 p-0">
        <div class="msgall pull-left">
            <label>All</label>
        </div>
      
    </div>
    <div class="col-md-7 col-sm-4 col-xs-4 p-0">
        <div class="unreadall pull-left">
            <label>Unread</label>
        </div>
      
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="date pull-right">
            <!-- <label>By Date</label> -->
        </div>
      
    </div>
</div>
</div>
<!-- <div class="col-md-12 col-sm-12 col-xs-12 ">

    <div class=" col-md-12 col-sm-12 col-xs-12 oldermsgbox pull-left">
       <label>Older</label>
    </div>
</div> -->




<div class="col-md-12 col-sm-12 col-xs-12 ">
    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxactive">
<div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
<label>Amity Online</label>

</div>
<div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
        <label>Addmission Opens for Online Master course </label>
        
        </div>
        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
            <label>3/5/2020 </label>
            <label>5:30 PM </label>
            </div>
        </div>
      
</div>
<div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
    <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
    <label>Amity Online</label>
    
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
        <label>Addmission Opens for Online Master course </label>
        
        </div>
        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
            <label>3/5/2020 </label>
            <label>5:30 PM </label>
            </div>
        </div>
     
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
        <label>Kotak Mahindra Bank</label>
        
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
            <label>Hi Tarun, Open a Kotak 811 account insta...</label>
            
            </div>
            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                <label>3/5/2020 </label>
                <label>5:30 PM </label>
                </div>
            </div>
           
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
            <label>Amity Online</label>
            
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                <label>Addmission Opens for Online Master course </label>
                
                </div>
                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                    <label>3/5/2020 </label>
                    <label>5:30 PM </label>
                    </div>
                </div>
            
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                <label>Kotak Mahindra Bank</label>
                
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                    <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                    
                    </div>
                    <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                        <label>3/5/2020 </label>
                        <label>5:30 PM </label>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                    <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                    <label>Kotak Mahindra Bank</label>
                    
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                        <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                        
                        </div>
                        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                            <label>3/5/2020 </label>
                            <label>5:30 PM </label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                        <label>Amity Online</label>
                        
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                            <label>Addmission Opens for Online Master course </label>
                            
                            </div>
                            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                <label>3/5/2020 </label>
                                <label>5:30 PM </label>
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                            <label>Kotak Mahindra Bank</label>
                            
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                
                                </div>
                                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                    <label>3/5/2020 </label>
                                    <label>5:30 PM </label>
                                    </div>
                                </div>
                              
                            </div>

   

</div>

          </div>
        </div>
         <div class="col-md-8 col-sm-8 col-xs-8">
             <div class="col-md-12 col-xs-12 col-sm-12">
<div class="textbox ">

    We Are Happy To Tell You That Amity University Registration Are open For B.Tech/BBA/BCA/MBA
    For More Further information Contact Us On This No: 18000028767, 18800028767



</div>


             </div>
          </div>

    </div>

</div>
</div>