<div class="main-content maincontainer">
    <div class="content">
       <!-- <form [formGroup]="CustodianFormGrp" autocomplete="off"> -->
       <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
          <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
             <span class="legal"></span>
          </div>
          <div class="rightmenu">
             <div class="toolbar pull-right">
                <ul class="toolbar-content">
                   <li (click)="downloadCSVFile($event)">
                      <i class="fa fa-file-excel-o" aria-hidden="true" title="Save"></i>
                      <label>
                      Export to Excel
                      </label>
                   </li>
                   <!-- <li>
                      <i class="fa fa-download" aria-hidden="true" title="Save"></i>
                      <label>
                          Download Template
                      </label>
                      </li>-->
                      <li (click)="BackToCustodian()" [style.display]="showBackToCustodian ? 'block' : 'none'">
                        <i title="View Custodian"><img src="../assets/images/viewImg.png" style="width:14%; margin-top: -6px;" ></i>
                        <label>
                            Back To Custodian
                        </label>
                    </li>
                   <li (click)="onClickviewpms()" [style.display]="showviewSecurities ? 'block' : 'none'">
                      <i title="View PMS"><img src="../assets/images/viewImg.png" style="width:18%; margin-top: -6px;" ></i>
                      <label>
                      View PMS
                      </label>
                   </li>
                   <li (click)="onClickstatemaster($event)" [style.display]="showNew ? 'block' : 'none'">
                      <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                      <label>
                      New
                      </label>
                   </li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4"></div>
          <div class="col-md-5 col-sm-4 col-xs-4"></div>
       </div>
       <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" id="tbldiv"  *ngIf="Isdiv" style="display:block">
          <div class="filter">
             <input type="text" placeholder="Search" />
             <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-alpine" [rowData]="custodian"

          [columnDefs]="columnDefs" [enableFilter]="true" [enableSorting]="true" [showToolPanel]="true"  rowSelection="single"
          (cellClicked)="onRowSelected($event)" [pagination]="true" [paginationAutoPageSize]="true">

          [columnDefs]="columnDefs" [enableFilter]="false" [enableSorting]="true" [showToolPanel]="true"  rowSelection="single"
          (cellClicked)="onRowSelected($event)">

          </ag-grid-angular>
       </div>
       <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" id="tbldiv1" *ngIf="Isdiv1"style="display:block">
          <div class="filter">
             <input type="text" placeholder="Search" />
             <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-alpine" [rowData]="pmsDetails"

          [columnDefs]="columnDefs1" [enableFilter]="true" [enableSorting]="true" [showToolPanel]="true" [pagination]="true" [paginationAutoPageSize]="true">

          [columnDefs]="columnDefs1" [enableFilter]="false" [enableSorting]="true" [showToolPanel]="true">

          </ag-grid-angular>
       </div>
       <div class="modal" id="createuser" [style.display]="showModalstatemaster ? 'block' : 'none'">
          <div class="modal-dialog">
             <div class="modal-content">
                <button type="button" class="closeDiv" data-dismiss="modal"
                   (click)="hidestatemaster()">&times;</button>
                <!-- <form [formGroup]="CustodianFormGrp" autocomplete="off"> -->
                <!-- Modal body -->
                <div class="modal-body">
                   <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
                      <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                         <h4 class="pageTitle">
                            Create Custodian 
                         </h4>
                      </div>
                      <div class="rightmenu">
                         <div class="toolbar pull-right">
                         </div>
                      </div>
                   </div>
                   <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block">
                      <!-- <form class=""> -->
                      <!-- <form [formGroup]="CustodianFormGrp" autocomplete="off"> -->
                      <!-- <form formGroup="CustodianFormGrp" autocomplete="off" > -->
                        <form [formGroup]="CustodianFormGrp" autocomplete="off" class="form" appNorightclick>
                         <div class="row no-padding mt-2">
                            <div class="col-md-12 col-sm-4 col-xs-12 p-0">
                               <div class="col-md-12 col-sm-4 col-xs-12">
                                  <div class="form-group">
                                     <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding"
                                        for="form-field-1">
                                     Country:
                                     </label>
                                     <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                        <!-- <select class="col-sm-12 col-md-12 col-xs-12 ">
                                           <option>India </option>
                                           <option>Pakistan</option>
                                           <option>China </option>
                                           </select> -->
                                        <div class="form-group input-group" [ngClass]="displayFieldCss('CountryCode')">
                                           <select class="col-md-12 col-xs-12 col-sm-12" required  formControlName="CountryCode">
                                              <option value="0" selected>Select Country</option>
                                              <option *ngFor="let data of country" value={{data.CountryCode}}  >
                                                 {{data.CountryName}}
                                              </option>
                                           </select>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-12 col-sm-4 col-xs-12">
                                  <div class="form-group">
                                     <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding"
                                        for="form-field-1">
                                     Custodian Code:
                                     </label>
                                     <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                        <!-- <input type="text" class="col-sm-12 col-md-12 col-xs-12" /> -->
                                        <div class="form-group input-group" [ngClass]="displayFieldCss('CustodianCode')">
                                           <input type="text" required name="custodianCode" class="col-sm-12 col-md-12 col-xs-12" formControlName="CustodianCode"
                                               />
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-12">
                               <div class="form-group">
                                  <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                  Custodian Name:
                                  </label>
                                  <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                     <!-- <input type="text"  class="col-sm-12 col-md-12 col-xs-12" /> -->
                                     <div class="form-group input-group" [ngClass]="displayFieldCss('CustodianName')">
                                        <input type="text" required name="custodianName" class="col-sm-12 col-md-12 col-xs-12" formControlName="CustodianName"
                                           />
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-12">
                               <div class="form-group">
                                  <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                  PMS Code: 
                                  </label>
                                  <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock" >
                                     <!-- <select class="col-sm-12 col-md-12 col-xs-12 ">
                                        <option>PMS Code 1 </option>
                                        <option>PMS Code 2 </option>
                                        <option>PMS Code 3 </option>
                                        </select> -->
                                     <div class="form-group input-group" [ngClass]="displayFieldCss('PMSCode')">
                                        <select  class="col-md-12 col-xs-12 col-sm-12" (change)="FillPMSDetails(selectField.value);" #selectField required formControlName="PMSCode">
                                           <option value="0" selected>Select PMSCode</option>
                                           <option *ngFor="let data of pms" value={{data.PMSCode}}  >
                                              {{data.PMSName}}
                                           </option>
                                        </select>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-12">
                               <div class="form-group">
                                  <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                  PMS Name: 
                                  </label>
                                  <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                     <!-- <input type="text"  class="col-sm-12 col-md-12 col-xs-12" /> -->
                                     <div class="form-group input-group" [ngClass]="displayFieldCss('PMSName')">
                                     <input type="text"  required name="pMSName" class="col-sm-12 col-md-12 col-xs-12" formControlName="PMSName"
                                     />
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-12">
                               <div class="form-group">
                                  <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                  PMS Account No.: 
                                  
                                  </label>
                                  <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock" >
                                     <!-- <input type="text"  class="col-sm-12 col-md-12 col-xs-12" /> -->
                                     <div class="form-group input-group" [ngClass]="displayFieldCss('PMSAccountNumber')">
                                       <input  id="name" type="text" class="col-sm-12 col-md-12 col-xs-12" formControlName="PMSAccountNumber">
                                     <!-- <input type="text" [disabled]="true" required name="pMSAccountNo" class="col-sm-12 col-md-12 col-xs-12" formControlName="PMSAccountNumber"/> -->

                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-12">
                               <div class="form-group">
                                  <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                  Active:
                                  </label>
                                  <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                     <!-- <input type="checkbox"/> -->
                                     <input  name="active" formControlName="Active" value="" type="checkbox" class="col-md-1 col-sm-2 col-xs-4"/>
                                  </div>
                               </div>
                            </div>
                         </div>
                   <!-- </div> -->
                   </form>
                </div>

                <div class="downbtnposition">
                     <button type="submit" (click)="onSubmit()" class="btn btn-success"> Save</button>
                     </div>



             </div>
            
             <!-- </form> -->
          </div>
       </div>
    </div>
    <!-- </form> -->
 </div>

 <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
   <div class="modal-dialog modal-sm">
   <div class="modal-content">
   
   <!-- Modal Header -->
   <div class="modal-header">
   <h4 class="modal-title">
  
   </h4>
   <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
   </div>
   
   <!-- Modal body -->
   <div class="modal-body">
   <p>Saved Successfully</p>
   </div>
   
   <!-- Modal footer -->
   <div class="modal-footer">
   <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
 
</div>
   
   </div>
   </div>
   </div>



   <div class="modal successPopup" id="myModalUpdate" [style.display]="showModalupdatepopup ? 'block' : 'none'">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
      <h4 class="modal-title">
     
      </h4>
      <button type="button" class="close" data-dismiss="modal" (click)="hideupdatepopup()">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
      <p>Updated Successfully</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hideupdatepopup()">Ok</button>
    
   </div>
      
      </div>
      </div>
      </div>
 </div>