<div id="navbar" class="navbar navbar-default" style="display: block" appNorightclick>
    <div class="quickLeftDiv" appNorightclick>
        <div class="navbar-container navCon" >
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand mainLogo">FAMS</a>

            </div>
        </div>
    </div>
 
</div>

<form [formGroup]="LoginForm" autocomplete="off" class="form" appNorightclick>
  <div class="quickCheckLogin" >
      
      <div class="clearfix">
      </div>
      <div class="login-container" >
      
          <h1>
              Login
          </h1>
          <div class="inset">
              <!-- <p >
              
                  <label for="clientId">
                      Client ID
                  </label>
                  <input [ngClass]="displayFieldCss('APPID')" name="APPID" type="text" class="form-control inputbox" (keypress)="Removelabel()" formControlName="APPID" placeholder="" />
                  
              </p> -->
              <p >
              
                  <label for="email">
                      Username
                  </label>
                  <input name="UserName" [ngClass]="displayFieldCss('UserName')" type="text" class="form-control inputbox" (keypress)="Removelabel()" formControlName="UserName" 

 placeholder="" />
                  
              </p>

              <p >
              
                  <label for="password">
                      Password
                  </label>
                  <input name="Password" [ngClass]="displayFieldCss('Password')" type="password" class="form-control inputbox" (keypress)="Removelabel()" formControlName="Password" 

placeholder="" />
                  
              </p>
              <p >
              
                  <label for="captcha">
                      Enter the text as shown in the image
                  </label>
                  <input name="captcha" maxlength="5" [ngClass]="displayFieldCss('captcha')" type="text" class="form-control inputbox" (keypress)="Removelabel()" formControlName="captcha" placeholder="" />
                  
              </p>
              <div class="captchaCon">
                <span class="captchaImg"><label  [ngClass]="randomcaptchavalue">{{randomcaptcha}}</label></span>
                <i class="fa fa-refresh" (click)="BindRandomCaptcha()"></i>
                <span class="forgotPass"  ><a routerLink="/ForgotPassword" routerLinkActive="active">Forgot password ?</a></span>
              </div>
              <label id="lblName">{{errormsg}}</label>
              <input type="submit" value="Login" [disabled]="btnloginDisabled" (click)="onSubmit()" class="loginbtn" />
            
              <input type="submit" value="Reset" (click)="onReset()" class="loginbtn" />


          </div>


          


          
      </div>
     
  </div>
</form>

<div class="heroImg" appNorightclick>
    <img src="../../assets/images/heroImg1.png" >

</div>
<div class="clearfix"></div>
<div class="instructionBox" appNorightclick>
    <ul>
        <li>Mandatory fields are marked with an asterisk (*)</li>
        <li> Do not provide your username and password anywhere other than in this page</li> 
        <li>Your username and password are highly confidential.Never part with them.</li>
    </ul>
    <span class="veriSign"><img src="../../assets/images/veriSign.png" ></span>
</div>
<div class="linkContainer" appNorightclick> 
<ul>
    <li>About</li>
    <li>Contact Us</li>
    <li>Privacy</li>
    <li>Security</li>
    <li>Security Tips</li>
</ul>

</div>
<div class="footer" style="display: block" appNorightclick>
  <div class="footer-inner">
      <span class="copyRight">Copyright &copy; 2016-2020 | FAMS | All Rights Reserved</span>
   
  </div>
</div>

<div class="modal" id="ChangePassword"  *ngIf="ChangePassWordPopUp">
    <div class="modal-dialog">
    <div class="modal-content">
    


        <div class="modal-header">
            <h4 class="modal-title" style="margin-top: 3%;">
                Change Password
            </h4>
            <button type="button" class="closeDiv" data-dismiss="modal" (click)="hideChangePassword()">&times;</button>
            </div>
        
    
    
    <!-- Modal body -->
    <div class="modal-body">
       
            <div class="col-md-12 col-sm-12 col-xs-12 pr-0" id="divForm" style="display:block">
                    <form class="" >
                                        <div class="row no-padding mt-2">
                                            <div class="col-md-12 col-sm-4 col-xs-12 p-0">
                                                    <div class="col-md-12 col-sm-4 col-xs-12 mt-3">
                                                            <div class="form-group">
                                                                <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                   Old Password:
                                                                </label>
                                                                <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text" name="OldPassword" class="col-sm-12 col-md-12 col-xs-12" #OldPassWord/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12 mt-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                        New Password:
                                                                    </label>
                                                                    <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                        <input type="text" name="NewPassword" class="col-sm-12 col-md-12 col-xs-12" #NewPassWord/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                            <div class="col-md-12 col-sm-4 col-xs-12 mt-4">
                                                <div class="form-group">
                                                    <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                        Confirm Password:
                                                    </label>
                                                    <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                        <input type="text" name="ConfirmPassword" class="col-sm-12 col-md-12 col-xs-12" #ConfirmPassWord/>
                                                    </div>
                                                </div>
                                            </div>
                                            

                                                  
                                                   
                                                </div>
                                            </div>
                       
                    </form>
                </div>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
  
    <button type="button" class="btn btn-success" (click)="ChangePassSave(OldPassWord.value,NewPassWord.value,ConfirmPassWord.value)">Save</button>
    <button type="button" class="btn btn-success" (click)="ChangePassCancel()">Cancel</button>
    </div>
    
    </div>
    </div>
    </div>