.maincontainer{ position: relative;
    float:left;
    width: 88%;}

    .fullmaincontainer {
        position: relative;
        float: left;
        width: 100% !important;
    }
.notificationscroll{    overflow-y: auto;
    max-height: 509px;}
.menuBox{width: 19%;
    background: transparent;
    border-radius: 0px;
    padding: 10px 6px 0px 6px;
    display: inline-block;
    text-align: left;
    color: #003974;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
margin-top:10px;
cursor:pointer;
vertical-align: middle;
list-style:none;
/* box-shadow: 1px 1px 2px 1px #cccfd0;*/
border-right: 1px solid #dfe6e8;
}
.menuBox:hover{ background: #f3f3f3;
    box-shadow: 1px 1px 2px 1px #d6dade;}
.menuItem{border-bottom: 1px solid #dfe6e8; padding-bottom: 20px;}
.submenuBox{ width: 98%; font-size:13px; list-style:none}
.menuImg{ background: #003974;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block; text-align: center;
    vertical-align: middle; box-shadow: 1px 1px 2px 1px #b3bac3;}
.menuImg i{ color: #fff;
    font-size: 15px;
    vertical-align: middle;}
.menuTitle{ width: 165px;
    display: inline-block;
    padding-left: 5px;}

    .msgall {
        font-size:13px;
        font-family: unset;
          color:#3c8dbc;
      }
      .boxright{
        padding: 19px 0px 19px 0px;
      }
      
      .fullmaincontainer {
        position: relative;
        float: left;
        width: 100% !important;
      }
      
      .paperclipicon{
        font-size:14px;
        padding:3px 4px;
      }
      .unreadall {
        font-size:13px;
        font-family: unset;
      }
      .date {
         font-size:13px;
        font-family: unset;
      }
      .attachment{
        cursor:pointer;
      }
      .searchicon {position: absolute;
      right: 23px;
      top: 3px;
      font-size: 15px;}
      .allunreaddatebox{ padding: 5px 2px 4px 2px!important;}
      .oldermsgbox{
        background-color: #cdcdcd2b;
      
        padding: 2px 5px 2px 5px;
      }
      
      .notificationboxactive .notificationlabel label {
        font-size:13px;
          font-family: unset;
         
      }
      .notificationboxunactive .notificationlabel label {
        font-size:13px;
          font-family: unset;
         
         
      }
      .notificationboxunactive .notificationtext label{ 
         font-family: unset;
        color:#3c8dbc;
      }
      .notificationboxunactive .notificationdate label{
        font-family: unset;
        color:#3c8dbc;
       }
       .borderbox{border-right: 1px solid #cbdde8;
        height: 509px;}
       .notificationdate label{font-weight: 400;
        font-size: 11px;
        display: inline-block;}
        .notificationdate label:first-child{ margin-right: 3px;}
       .notificationboxunactive .notificationlinktxt label{color:#c5c5c5;}
        .notificationboxactive{  border: 1px solid #cbdde8;
          padding: 7px 0px 7px 0px;
          font-family: unset;
          background-color: #c6d8e2a6;
          
          border-left:3px solid #3c8dbc;
    margin-bottom: 7px;
        }
        .mailbox{border: 1px solid #c5c5c57d;
        padding-top:10px;}
        .downloadattachment{    
            height: 509px;
        max-height: 509px;}
        


        .notificationboxunactive{
          border: 1px solid #cbdde8;
          padding: 7px 0px 7px 0px;
          font-family: unset;
          background-color: #fff;
         border-left:3px solid #3c8dbc;
         margin-bottom: 7px;
        
        }
        


 .activeclass{background-color: #79646429;}
        .portalBox {
            position: relative;
            cursor: pointer;
            width: 104%;
            display: inline-block;
            text-align: center;
            border-bottom: 1px solid #eae6e6;
            margin-bottom: 4px;        
            vertical-align: top;
            overflow: hidden;
        }

  
        .portalBox:hover {
        background: #f2f2f3;
box-shadow: 1px 1px 2px 1px #dfdfdf;
        }
        .portalBox img {
            width: 12%;
            display: inline-block;
            float:left;
        }

        .portalBox h5 {font-size: 13px;
            color: #20343f;
            padding-top: 6px;
            display: inline-block;
            float: left;
            width: 87%;
            text-align: left;
            padding-left: 10px;
            font-weight: 600;
            margin-top: 0px;
            padding-bottom: 2px !important;
        }
    .portalBox a{color:#fff}
    .noteBox {
            background: #fbfcfd;
border-top: 1px solid #dedbdb;
border-radius: 0px;
margin-top: 15px;
padding: 15px 10px 10px;
box-shadow: 0px 1px 2px 1px #ddd;
font-family: Roboto,"Helvetica Neue",Arial,sans-serif,"Segoe UI Symbol" !important;
max-height: 386px;
overflow: auto;
min-height: 386px;
    }

        .noteBox h5 {
            color: #0a2e40;
            font-size: 12px;
        }

        .noteBox ul {
            list-style: none;
            padding-left: 18px;
            margin-bottom: 6px;
        }

            .noteBox ul li {
                font-size: 13px;
            }

    .attachmentBtn {
        position: absolute;
        right: 13px;
        top: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #33789e;
        cursor: pointer;
    }

        .attachmentBtn:hover {
            text-decoration: underline;
            color: #294856;
        }

        .attachmentBtn i {
            font-size: 15px;
            font-weight: 600;
            padding-right: 4px;
        }
    .notificationCount{width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #e45252;
    display: inline-block;
    position: absolute;
    top: 1px;
    color: #fff;
    padding: 3px 0 2px 0px;
    z-index: 9999;
    right: 1px;}
