<div class="main-content maincontainer" id="divWidth">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
               
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                
               
                    <div class="col-sm-12 col-md-12 mt-3 ">
                        <div class="col-md-9 col-xs-9 col-sm-9 pl-0 mailbox">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 p-0">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                
                                    <div class="searchbox">
                                        <span class="searchicon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="col-md-12 col-sm-12 col-xs-12" placeholder="Search" #SearchData (keyup.enter)="SearchFun(SearchData.value)"/>
                                    </div>
                                </div>
                                <!-- style="overflow-y: scroll; height: 559px;" -->
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0 notificationscroll">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0 allunreaddatebox">
                                
                                    <div (click)="ClickAll()" class="col-md-1 col-sm-4 col-xs-2 p-0">
                                        <div id="myDIV" class="msgall pull-left">
                                            <label>All({{lblall}})</label>
                                        </div>
                                      
                                    </div>
                                    <div (click)="ClickRead()" class="col-md-7 col-sm-4 col-xs-4 p-0" > 
                                        <div id="myDIV1" class="unreadall pull-left">
                                            <label>Unread({{lblunreadall}})</label>
                                        </div>
                                      
                                    </div>
                                    <div (click)="ClickTodayNotification()" class="col-md-7 col-sm-4 col-xs-4 p-0" > 
                                        <div id="myDIV2" class="unreadall pull-left">
                                            <label>Today's Notification({{lbltodayall}})</label>
                                        </div>
                                      
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="date pull-right">
                                            <!-- <label>By Date</label> -->
                                        </div>
                                      
                                    </div>
                                </div>
                                </div>
                                <!-- <div class="col-md-12 col-sm-12 col-xs-12 ">
                                
                                    <div class=" col-md-12 col-sm-12 col-xs-12 oldermsgbox pull-left">
                                       <label>Older</label>
                                    </div>
                                </div> -->
                                
                                <div class="col-md-12 col-sm-12 col-xs-12 " *ngFor="let Notify of BindallNotificationdata;index as i" >
                                    <div id="{{ 'Dynamicdiv' + Notify.NMId }}" [ngClass]="{'notificationboxactive': Notify.IsRead == 0}" (click)="divClickRead(Notify.NMId)" class="col-md-12 col-sm-12 col-xs-12 " >
                                        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                                            <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
                                               <span >{{Notify.Subject }}{{Notify.sublength ==0 ? '' : '....'}}</span>
                                               
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                                               
                                        <span *ngIf="Notify.AttachmentFile == '' ? null : 'Isattchmentsfalse'" > 
                                             <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i>
                                            </span>
                                        <span *ngIf="Notify.IsRead == 1 ? null : 'Isattchmentsfalse'" class="pull-right">  <i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
                                        </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                                        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                            <span >{{Notify.Note}}{{Notify.NoteLength ==0 ? '' : '....'}}</span>
                                            
                                            </div>


                                            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                                <span>{{Notify.CreatedOn}}</span>
                                                <span>{{Notify.CreatedOnTime}} </span>
                                                </div>
                                            </div>
                                       
                                </div>
                                 
                                    <!-- <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                                        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                                            <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
                                        <label>Amity Online</label>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                                               
                                        <span >  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
                                        <span class="pull-right">  <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                        </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                                        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                            <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                            
                                            </div>
                                            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                                <label>3/5/2020 </label>
                                                <label>5:30 PM </label>
                                                </div>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                                            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                                                <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
                                            <label>Union Bank Of India</label>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                                                   
                                            <span >  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
                                            <span class="pull-right">  <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                            </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                                            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                                <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                                
                                                </div>
                                                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                                    <label>3/5/2020 </label>
                                                    <label>5:30 PM </label>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                                                <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                                                    <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
                                                <label>State Bank Of India</label>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                                                       
                                                <span >  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
                                                <span class="pull-right">  <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                                </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                                                <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                                    <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                                    
                                                    </div>
                                                    <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                                        <label>3/5/2020 </label>
                                                        <label>5:30 PM </label>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                                                        <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
                                                    <label>Axis Bank </label>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                                                           
                                                    <span >  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
                                                    <span class="pull-right">  <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                                                    <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                                        <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                                        
                                                        </div>
                                                        <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                                            <label>3/5/2020 </label>
                                                            <label>5:30 PM </label>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                                                        <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                                                            <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
                                                        <label>IDFC Bank </label>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                                                               
                                                        <span >  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
                                                        <span class="pull-right">  <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                                                        <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                                            <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                                            
                                                            </div>
                                                            <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                                                <label>3/5/2020 </label>
                                                                <label>5:30 PM </label>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 notificationboxunactive">
                                                            <div class="col-md-12 col-sm-12 col-xs-12 notificationlabel">
                                                                <div class="col-md-10 col-sm-10 col-xs-10 p-0"> 
                                                            <label>Allahabad Bank</label>
                                                                </div>
                                                                <div class="col-md-2 col-sm-2 col-xs-2 pr-0"> 
                                                                   
                                                            <span >  <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment"></i></span>
                                                            <span class="pull-right">  <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                                            </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 ">
                                                            <div class="notificationtext col-xs-10 col-md-9 col-sm-10">
                                                                <label>Hi Tarun, Open a Kotak 811 account insta...</label>
                                                                
                                                                </div>
                                                                <div class="notificationdate col-xs-3 col-md-3 p-0 col-sm-2 pull-right">
                                                                    <label>3/5/2020 </label>
                                                                    <label>5:30 PM </label>
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                               -->
                                
                                          </div>
                                
                              
                                        </div>



                        </div>

                        <div  class="col-md-6 col-sm-6 col-xs-12 mt-5 col-lg-6 downloadattachment">
                            <div *ngIf="Attachmentcodedisabled" class="col-md-12 col-sm-12 col-xs-12 mt-3"> 
                      
                                <span class="pull-right attachment">
                                    <a href="{{imagebindurl}}" (click)="CheckClickLink()"  target="_blank">
                                        <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment">                         
                                        </i>
                                        
                                        <label>Download Attachment</label> </a></span>


                                     <!-- <i class="fa fa-paperclip paperclipicon" aria-hidden="true" title="Attachment">
                                        
                                   </i> <label>Download Attachment</label>  -->
                                
                                


                                </div>
                             <div class="col-md-12 col-sm-12 col-xs-12 boxright">
                
                             <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="textbox ">
                
                 {{Notebind}}
                    <span ></span>
                
                
                </div>
                
                
                             </div>
                            </div>
                          </div>
                


    
                    </div>
                        <div class=" col-md-3 col-sm-3 col-xs-3">
        
                            <!-- <div class=" portalBox" *ngFor="let Data of BindalltabsList">
                                <a routerLink="{{Data.url}}" routerLinkActive="active">
                                <img src="{{Data.ImagePath}}" />
                                    <h5>{{Data.LinkName}}</h5>
                            </a>
                            </div> -->

                            <!-- <div class="portalBox">
                                <a routerLink="/CurrentPortfolio" routerLinkActive="active">
                               
                                    <h5>Dashboard</h5>
                                </a>
                            </div> -->
                            <!-- <div class="portalBox">
                                <a routerLink="/CurrentPortfolio" routerLinkActive="active">
                               
                                    <h5>User Setup</h5>
                                </a>
                            </div> -->

                            <!-- <div class="portalBox">
                                <a routerLink="/CurrentPortfolio" routerLinkActive="active">
                               
                                    <h5>User Setup</h5>
                                </a>
                            </div> -->

                            <div class="portalBox">
                                <a routerLink="/PortfolioSummary" routerLinkActive="active">
                               
                                    <h5>Portfolio Summary</h5>
                                </a>
                            </div>

                            <div class="portalBox">
                                <a routerLink="/PortfolioFact" routerLinkActive="active">
                               
                                    <h5>Portfolio Fact</h5>
                                </a>
                            </div>
                            <!-- <div class="portalBox">
                                <a routerLink="/CurrentPortfolio" routerLinkActive="active">
                               
                                    <h5>User Setup</h5>
                                </a>
                            </div> -->
                            <!-- <div class="portalBox">
                                <a routerLink="/CurrentPortfolio" routerLinkActive="active">
                               
                                    <h5>Trial Balance Report</h5>
                                </a>
                            </div> -->
                             <div class="portalBox">
                                <a routerLink="/CurrentPortfolio" routerLinkActive="active">
                               
                                    <h5>Current portfolio</h5>
                                </a>
                            </div>

                            <div class="portalBox">
                                <a routerLink="/StatementDividend" routerLinkActive="active">
                               
                                    <h5>Statement Dividend</h5>
                                </a>
                            </div> 
                            <!-- ../assets/images/trial_icon.png -->
                            
        

                           <div class="portalBox">
                                <a routerLink="/BankBook" routerLinkActive="active">
                              
                                    <h5>Bank Book</h5>
                                    </a>
                                </div>
                             <div class="portalBox">
                                <a routerLink="/CapitalStatement" routerLinkActive="active">
                               
                                    <h5>Statement of Capital Gain/Loss</h5>

                                </a>
                            </div>
                        
                            <div class="portalBox">
                                <a routerLink="/StatementOfExpenses" routerLinkActive="active">
                              
                                    <h5>Statement Of Expenses</h5>

                                </a>
                            </div> 
        
        
                            <div class="portalBox">
                                <a routerLink="/HoldingReport" routerLinkActive="active">
                               

                                   
                                  
                                    <h5>Holding Report</h5> 

                                    <!-- <h5>Holding Report</h5> -->
                              </a>

                            </div> 
        
        
                            <div class="portalBox">
                                <a routerLink="/TransactionStatement" routerLinkActive="active">
                                   
                                    <h5>Transaction Statement</h5>
                             </a>
                            </div>
        
        
                            <!-- <div class="portalBox">
                                <a routerLink="/CashEquivalent" routerLinkActive="active">
                                  
                                    <h5>Cash Equivalent</h5>
                                </a>
                            </div> -->
                            <!-- <div class="portalBox">
                                <a routerLink="/CashEquivalent" routerLinkActive="active">
                                  
                                    <h5>Data Analysis</h5>
                                </a>
                            </div>
                            <div class="portalBox">
                                <a routerLink="/CashEquivalent" routerLinkActive="active">
                                  
                                    <h5>Notification</h5>
                                </a>
                            </div> -->
                          
                        </div>
        
        
                    </div>
        
               
                <!-- <div class="col-sm-12 col-md-12">
                    <div class=" col-md-12 col-sm-12 col-xs-12 noteBox">
                        <h5>Important Notes:</h5>
                        <span class="attachmentBtn"><i class="fa fa-paperclip" aria-hidden="true"></i>Download Attachment</span>
                        <ul>
                            <li>1. Trial Balance Report</li>
                            <li>2. Portfolio Performance Summary Report</li>
                            <li>3. Portfolio Appraisal Report</li>
                            <li>4. Transaction Statement Report</li>
                            <li>5. Cash Equivalent Report</li>
        
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="modal" id="ChangePassword" [style.display]="ChangePassWordPopUp ? 'block' : 'none'">
            <div class="modal-dialog">
            <div class="modal-content">
            
        
        
                <div class="modal-header">
                    <h4 class="modal-title" style="margin-top: 3%;">
                        Change Password
                    </h4>
                    <button type="button" class="closeDiv" data-dismiss="modal" (click)="hideChangePassword()">&times;</button>
                    </div>
                
            
            
            <!-- Modal body -->
            <div class="modal-body">
               
                    <div class="col-md-12 col-sm-12 col-xs-12 pr-0" id="divForm" style="display:block">
                            <form [formGroup]="ChangePasswordForm" autocomplete="off" appNorightclick >
                                                <div class="row no-padding mt-2">
                                                    <div class="col-md-12 col-sm-4 col-xs-12 p-0">
                                                            <div class="col-md-12 col-sm-4 col-xs-12 mt-3">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                           Old Password:
                                                                        </label>
                                                                        <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                            <div class="form-group input-group" [ngClass]="displayFieldCss('OldPassword')">
                                                                            <input type="password" required  class="col-sm-12 col-md-12 col-xs-12" #OldPassWord formControlName="OldPassword"/>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-4 col-xs-12 mt-4">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                                New Password:
                                                                            </label>
                                                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                                <div class="form-group input-group" [ngClass]="displayFieldCss('NewPassword')">
                                                                                <input type="password" required name="NewPassword" class="col-sm-12 col-md-12 col-xs-12" #NewPassWord formControlName="NewPassword"/>
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
        
                                                    <div class="col-md-12 col-sm-4 col-xs-12 mt-4">
                                                        <div class="form-group">
                                                            <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                Confirm Password:
                                                            </label>
                                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                <div class="form-group input-group" [ngClass]="displayFieldCss('ConfirmPassword')">
                                                                <input type="password" required name="ConfirmPassword" class="col-sm-12 col-md-12 col-xs-12" #ConfirmPassWord formControlName="ConfirmPassword"/>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
        
                                                          
                                                           
                                                        </div>
                                                    </div>
                               
                            </form>
                        </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
          
            <button type="button" class="btn btn-success" (click)="ChangePassSave(OldPassWord.value,NewPassWord.value,ConfirmPassWord.value)">Save</button>
            <button type="button" class="btn btn-success" (click)="ChangePassCancel()">Cancel</button>
            </div>
            
            </div>
            </div>
            </div>

            <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
                <div class="modal-dialog modal-sm">
                <div class="modal-content">
                
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">
               
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                <p><span [innerHTML]="Successtext"></span></p>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
              
            </div>
                
                </div>
                </div>
                </div>
        
        
        
        
            </div>
        </div>