<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <!-- <span class="legal">Home</span> -->
                </div>
                <div class="col-sm-12 col-md-12 col-xs-12 mt-2">
                    <ul>
                        <li class="menuBox">
                            <div class="menuItem">
                            <span class="menuImg">
                                <i class="fa fa-dashboard"></i>
                            </span>
                            <span class="menuTitle">
                                    Dashboard
                            </span>
                            </div>
                        </li>
                        <li class="menuBox">
                            <div class="menuItem">
                            <span class="menuImg">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </span>
                            <span class="menuTitle">
                                    Nach Mandate
                            </span>
                        </div>
                            </li>
                        
                        
                        <!-- <li class="menuBox">
                            <div class="menuItem">
                            <span class="menuImg">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </span>
                            <span class="menuTitle">
                                    Users & Role Center
                            </span>
                            </div>
                           
                        </li> -->
                        <li class="menuBox">
                            <div class="menuItem">
                            <span class="menuImg">
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                            </span>
                            <span class="menuTitle">
                                    Corporate Setup Request
                            </span>
                            </div>
                        </li>
                        <li class="menuBox">
                            <div class="menuItem">
                            <span class="menuImg">
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                            </span>
                            <span class="menuTitle">
                                Corporate Setup
                            </span>
                            </div>
                        </li>
                     
                        <li class="menuBox">
                            <div class="menuItem">
                            <span class="menuImg">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                            <span class="menuTitle">
                                    User Creation
                            </span>
                        </div>
                        </li>
                        <li class="menuBox">
                            
                            <div class="menuItem">
                            <span class="menuImg">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </span>
                            <span class="menuTitle">
                                    Role Distribution
                            </span>
                        </div>
                        </li>
                       </ul>
                    </div>
            </div>
        </div>

        </div>
        </div>