<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 <span class="legal"></span>
             
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">

                        
                           
                        <li>
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Save"></i>
                            <label>
                                Export to Excel
                            </label>
                        </li> 
                        <!-- <li>
                            <i class="fa fa-download" aria-hidden="true" title="Save"></i>
                            <label>
                                Download Template
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-upload" aria-hidden="true" title="Upload User"></i>
                            <label>
                                Upload User
                            </label>
                        </li> -->
                       
                        <li (click)="viewCustomer()">
                            <i title="View Customer Details"><img src="../assets/images/viewImg.png" style="width:11%; margin-top: -6px;" ></i>
                            <label>
                                View Customer Details
                            </label>
                        </li>
                        <li (click)="onClickPMSEmploye($event)" >
                            <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-5 col-sm-4 col-xs-4"></div>
           

        </div>
       
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" *ngIf="showGrid">
            <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            
            
           <ag-grid-angular
    style="width: 100%; height: 130px;"
    class="ag-theme-alpine"
    [rowData]="PmsemployeesList"
    [columnDefs]="columnDefs"
    [enableFilter]="false"
      [enableSorting]="true"
      [showToolPanel]="true">
</ag-grid-angular>
           
            
        </div>
        


        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" *ngIf="showCustomer">
            <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            
            
           <ag-grid-angular
    style="width: 100%; height: 130px;"
    class="ag-theme-alpine"
    [rowData]="PmsemployeesList"
    [columnDefs]="columnDefs1"
    [enableFilter]="false"
      [enableSorting]="true"
      [showToolPanel]="true">
</ag-grid-angular>
           
            
        </div>
       

        <div class="modal" id="createuser" [style.display]="showModalPMSEmploye ? 'block' : 'none'">
                <div class="modal-dialog">
                <div class="modal-content">
                
                    <button type="button" class="closeDiv" data-dismiss="modal" (click)="hidePMSEmploye()">&times;</button>
                
                
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
                        <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                            <h4 class="pageTitle">
                               Create PMS Employees
                                 </h4>
            
                        </div>
                        <div class="rightmenu">
                            <div class="toolbar pull-right">
                                
                            </div>
                        </div>
                    </div>
                    
                        <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block">
                              <!-- <form [formGroup]="PMSEmployeesForm" autocomplete="off">--> 
                                    <form [formGroup]="PMSEmployeesForm" autocomplete="off" appNorightclick>
                                                    <div class="row no-padding mt-2">
                                                        <div class="col-md-12 col-sm-4 col-xs-12 p-0">
                                                                <div class="col-md-12 col-sm-4 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                                Employee Code:
                                                                            </label>
                                                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                                <input type="text"  class="col-sm-12 col-md-12 col-xs-12" formControlName="EmployeeCode"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Employee Name:
                                                                </label>
                                                                <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text" name="UserName" class="col-sm-12 col-md-12 col-xs-12" formControlName="EmployeeName" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Gender:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <select class="dropdown col-md-12 col-xs-12 col-sm-12" formControlName="Gender">
                                                                        <option value="">Select Gender</option>
                                                                       <option value="M">Male</option>
                                                                       <option value="F">Female</option>
                                                                       <option value="O">Other</option>
                                                                   </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Qualification:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text"  class="col-sm-12 col-md-12 col-xs-12" formControlName="Qualification"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    About:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text"  class="col-sm-12 col-md-12 col-xs-12" formControlName="About"/>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                        
                                                        

                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Customer Code:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text"  class="col-sm-12 col-md-12 col-xs-12" formControlName="CustomerCode"/>
                                                                </div>
                                                            </div>
                                                        </div> 



                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Customer Name:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text"  class="col-sm-12 col-md-12 col-xs-12" formControlName="CustomerName" />
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Custodian:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <select class="dropdown col-md-12 col-xs-12 col-sm-12" formControlName="Custodian">
                                                                        <option value="" selected>select Custodian</option>
                                                                        <option *ngFor="let Data of AllcustodianfieldsList" value={{Data.CustodianCode}} text={{Data.CustodianName}}>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div> 


                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Inception Date:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="date"  class="col-sm-12 col-md-12 col-xs-12" formControlName="InceptionDate" />
                                                                </div>
                                                            </div>
                                                        </div> 


                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Emp Linking Date:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="date"  class="col-sm-12 col-md-12 col-xs-12" formControlName="EmpLinkingDate"/>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Active:
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="checkbox" formControlName="Active"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                               
                                                            </div>
                                                        </div>
                                   
                                </form>
                            </div>

                            <div class="downbtnposition">
                                    <button type="button" class="btn btn-success" (click)="SaveDataFun()">Save</button>
              
                                    </div>


                </div>
                
               
                
                </div>
                </div>
                </div>

    </div>

</div>

