<div class="main-content maincontainer">
  <div class="content">

      <div class="col-md-12 col-sm-12 col-xs-12 mt-4" style="display:none;">
          <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
              <img src="../../assets/images/loader.gif" class="loaderimagepage" />
          </div>
      </div>

      <form [formGroup]="StatementDividendForm" class="form">
      <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
          <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
               <span class="legal"></span>
          </div>
          <div class="rightmenu">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content">
                     
                      <li (click)="downloadMainGrid()">
                          <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to CSV"></i>
                          <label>
                              <!-- <a href="../../../assets/Files/Holding Report.csv">Export to CSV</a> -->
                              Export to CSV
                              
                          </label>

                          
                          <!-- <a href="../../../assets/ExcelReports/HoldingReport.csv"> <button type="button" id="btnExport" class="btn  pdfbtns" title="Export">
                              <i class="fa fa-file-excel-o"></i>
                          </button></a> --> 
                      </li>
                       
                       <li >
                               <i class="fa fa-file-pdf-o" aria-hidden="true" title="Export to Pdf"></i>
                               <label>
                                  <a target="_blank"  href="../../../assets/Files/Portfolio_Report.pdf"> Export to PDF</a>
                                 
                               </label>
                               <!-- <a href="../../../assets/ExcelReports/HoldingReport.pdf"><button type="button" id="btnPdf" class="btn  pdfbtns" title="PDF">
                                  <i class="fa fa-file-pdf-o"></i>
                              </button></a> -->
                           </li>
                   </ul>
              </div>
          </div>
      </div>
     
      <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
      
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
             From Date :
            </label>
            <div class="col-sm-9 col-md-8 col-xs-9 no-padding-left displayinlineblock">
                
                <input name="date" type="date" id="" formControlName="Formdate" [ngClass]="{ 'validate': submitted && f.Formdate.errors }"       class="col-sm-12 col-md-12 col-xs-12 htmldateheight"  /> 
            </div>
        </div>
    </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="form-group">
                      <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                       To Date :
                      </label>
                      <div class="col-sm-9 col-md-8 col-xs-9 no-padding-left displayinlineblock">
                         
                          <input name="date" type="date" id="" formControlName="Todate" [ngClass]="{ 'validate': submitted && f.Todate.errors }"      class="col-sm-12 col-md-12 col-xs-12 htmldateheight" /> 
                      </div>
                  </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-12 mt-2">
                  <!-- <button type="button" class="btn btn-success">Search</button> -->
                  <button type="submit" (click)="bindGrid()" class="btn btn-success"> Search</button>
                  </div>
  </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 tableDiv p-0"  style="display:block">
      <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
          <div class="col-sm-6 col-md-6 col-xs-3">
              <span class="legal"> Statement Of Dividend</span>
          </div>
          <div class="rightmenu">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content btnCon">
                     
                      <li (click)="PreviousDayFun()">
                         
                          <label>
                             Previous Day
                          </label>
                      </li>
                      <li (click)="LastOneWeekFun()">
                       
                          <label>
                             Last One Week
                          </label>
                      </li>
                       
                       <li (click)="LastOneMonthFun()">
                              
                               <label>
                                 Last One Month
                               </label>
                           </li>
                   </ul>
              </div>
          </div>
      </div>   
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="holdingreportGrid">
          <table class="bankmasterTable" id="bankmastertable">
              <thead>

                  <tr>

                      <th style="width: 153px">Ex Date</th>
                      <th style="width: 145px">Received Date</th>
                      <th style="width: 152px">Security</th>
                      <th style="width: 123px">Quantity</th>
                      <th style="width: 123px">Rate</th>
                      <!-- <th style="width: 54px" class="text-right">Amount</th> -->
                      <th style="width: 187px" class="text-right">Receivable Amount</th>
                      <th style="width: 151px" class="text-right">Received Amount</th>
                     <th style="width: 123px" class="text-right">TDS Amount</th> 
                      <th style="width: 132px" class="text-right">Net Amount</th>
                      <th style="width: 145px" class="text-right">Balance Amount</th>
                     
                  </tr>
              </thead>
              <tbody class="scrollbar">
                  <tr>
                      <td colspan="9">
                          <table>
                              <tbody>
                                  <tr *ngFor="let data of bindgrid" >
                                     
                                          <td style="width:94px">{{data.ExDate}}</td>
                                          <td style="width: 121px">{{data.ReceivedDate}}</td>
                                          <td style="width: 147px" >{{data.Security}}</td>
                                          <td style="width: 80px">{{data.Quantity}}</td>
                                          <td style="width: 187px">{{data.Rate}}</td>
                                          <!-- <td style="width: 116px" class="text-right">{{data.Amount}}</td> -->
                                          <td style="width: 26px" class="text-right">{{data.ReceivableAmount}}</td>
                                          <td style="width: 119px" class="text-right">{{data.ReceivedAmount}}</td>
                                           <td style="width: 103px" class="text-right">{{data.TDSAmount}}</td>
                                          <td style="width: 107px" class="text-right">{{data.NetAmount}}</td>
                                          <td style="width: 100px" class="text-right">{{data.BalanceAmount}}</td>
                                        
                                      </tr>
                                
                              </tbody>
                          <tfoot>
                           
                              <tr>
                                      <td style="width:95px"></td>
                                      <td style="width: 90px"></td>
                                      <td style="width:96px"></td>
                                      <td style="width: 112px" ></td>
                                      <td style="width: 131px" ></td>
                                      <td style="width: 161px" class="text-right">{{SumReceivableAmount}}</td>
                                      <td style="width: 122px" class="text-right">{{SumReceivedAmount}}</td>
                                      <td style="width: 111px" class="text-right">{{SumTDSAmount}}</td>
                                      <td style="width: 112px" class="text-right">{{SumNetAmount}}</td>
                                      <td style="width: 102px" class="text-right">{{SumBalanceAmount}}</td>
                                     
                              </tr>

                          </tfoot>
          </table>
          </td>
                     
                  </tr>
             
                  <tr>
                      <td colspan="9">
                          <table>
                              <tbody>
                                <tr>
                                    <td style="width:95px"></td>
                                    <td style="width: 81px"></td>
                                    <td style="width:96px"></td>
                                    <td style="width: 94px" ></td>
                                    <td style="width: 88px" ></td>
                                    <td style="width: 159px" class="text-right">{{SumReceivableAmount}}</td>
                                    <td style="width: 107px" class="text-right">{{SumReceivedAmount}}</td>
                                    <td style="width: 84px" class="text-right">{{SumTDSAmount}}</td>
                                    <td style="width: 88px" class="text-right">{{SumNetAmount}}</td>
                                    <td style="width: 93px" class="text-right">{{SumBalanceAmount}}</td>
                                   
                            </tr>
                                  
                              </tbody>
                       
          </table>
          </td>
                     
                  </tr>
                  
              </tbody>
              
          </table>

      </div>
</div>
          
      </div>




      <div class="col-md-12 col-sm-12 col-xs-12 tableDiv p-0"  style="display:block">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
            <div class="col-sm-6 col-md-6 col-xs-3">
                <span class="legal">Dividend Summary</span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content btnCon">
                       
                        <li (click)="PreviousDayFun()">
                           
                            <label>
                               Previous Day
                            </label>
                        </li>
                        <li (click)="LastOneWeekFun()">
                         
                            <label>
                               Last One Week
                            </label>
                        </li>
                         
                         <li (click)="LastOneMonthFun()">
                                
                                 <label>
                                   Last One Month
                                 </label>
                             </li>
                     </ul>
                </div>
            </div>
        </div>   
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="holdingreportGrid">
            <table class="bankmasterTable" id="bankmastertable">
                <thead>
  
                    <tr>
  
                        <th style="width: 492px">Transaction Description</th>
                        <th style="width: 170px" class="text-right">Total Dividend Received</th>
                        <th style="width: 170px" class="text-right">Outstanding Dividend</th>
                        <th style="width: 170px" class="text-right">Total Amount</th>
                        <th style="width: 170px" class="text-right">TDS Amount</th>
                        
                       
                    </tr>
                </thead>
                <tbody class="scrollbar">
                    <tr>
                        <td colspan="9">
                            <table>
                                <tbody>
                                    <tr *ngFor="let data of bindgridDivident">
                                       
                                            <td style="width: 624px" >{{data.Trans_desc}}</td>
                                            <td style="width: 164px" >{{data.Total_Dividend_Received}}</td>
                                            <td style="width: 225px" >{{data.Outstanding_Divident}}</td>
                                            <td style="width: 54px" class="secgrid">{{data.Total_Amount}}</td>
                                            <td style="width: 99px" class="text-right">{{data.TDS_Amount}}</td>
                                          
                                          
                                        </tr>
                                  
                                </tbody>
                            <tfoot>
                             
                                <tr>
                                    <td style="width: 624px"> Total</td>
                                        <td style="width: 164px" >{{SumTotal_Dividend_Received}}</td>
                                        <td style="width: 225px" >{{SumOutstanding_Divident}}</td>
                                        <td style="width: 54px" class="secgrid1">{{SumTotal_Amount}}</td>
                                        <td style="width: 99px" class="text-right">{{SumTDS_Amount}}</td>
                                        
                                      
                                       
                                </tr>
  
                            </tfoot>
            </table>
            </td>
                       
                    </tr>
               
                   
                    
                </tbody>
                
            </table>
  
        </div>
  </div>

        </div>


    
      </form>
  </div>

</div>

