<div class="main-content maincontainer">
  <div class="content">

    <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
      <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
          <img src="../../assets/images/loader.gif" class="loaderimagepage" />
      </div>
  </div>
    
      <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
          <div class="col-sm-6 col-md-6 col-xs-3">
              <span class="legal">PDF File Upload</span>
              </div>
          <div class="rightmenu">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content">
                     
                       
                       <li >
                               <i class="fa fa-upload" aria-hidden="true" title="Upload"></i>
                               <label>
                                  Upload
                               </label>
                              
                           </li>
                           <li>
                          
                              <input class=""  id="fileinput" type="file"  #fileInput (change)="uploadpdffile()"/>
                          </li>
                   </ul>
              </div>
          </div>
      </div>

      <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">
       
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <p>File Upload Successfully</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
      
     </div>
        
        </div>
        </div>
        </div>

     
  </div>

</div>

