<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 <span class="legal"></span>
             
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">

                        
                          
                        <li>
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to Excel"></i>
                            <label>
                                Export to Excel
                            </label>
                        </li> 
                        <!-- <li>
                            <i class="fa fa-download" aria-hidden="true" title="Save"></i>
                            <label>
                                Download Template
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-upload" aria-hidden="true" title="Upload User"></i>
                            <label>
                                Upload User
                            </label>
                        </li> -->
                        <li (click)="onClickstatemaster($event)" [style.display]="showNew ? 'block' : 'none'">
                            <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-5 col-sm-4 col-xs-4"></div>
           

        </div>
       
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" id="tbldiv" style="display:block">
            <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            
            
           <ag-grid-angular
    style="width: 100%; height: 450px;"
    class="ag-theme-alpine"
    [rowData]="state"
    [columnDefs]="columnDefs"
    [enableFilter]="true"
      [enableSorting]="true"
      [showToolPanel]="true" [pagination]="true" [paginationAutoPageSize]="true" (cellClicked)="onRowSelected($event)">
</ag-grid-angular>
           
            
        </div>
        
       

        <div class="modal" id="createuser" [style.display]="showModalstatemaster ? 'block' : 'none'">
                <div class="modal-dialog">
                <div class="modal-content">
                
                    <button type="button" class="closeDiv" data-dismiss="modal" (click)="hidestatemaster()">&times;</button>
                
                
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
                        <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                            <h4 class="pageTitle">
                                Create State
                                 </h4>
            
                        </div>
                        <div class="rightmenu">
                            <div class="toolbar pull-right">
                                
                            </div>
                        </div>
                    </div>
                    
                        <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block">
                            <form [formGroup]="StateFormGrp" autocomplete="off" class="form" appNorightclick>
                                                    <div class="row no-padding mt-2">
                                                        <div class="col-md-12 col-sm-4 col-xs-12 p-0">
                                                                <div class="col-md-12 col-sm-4 col-xs-12">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                            Country:
                                                                        </label>
                                                                        <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                                <!-- <select class="dropdown col-md-12 col-xs-12 col-sm-12">
                                                                                <option>Select Country</option>
                                                                                <option>India</option>
                                                                                <option>UAE</option>
                                                                                <option>USA</option>
                                                                                    </select> -->
                                                                            
                                                                            <div class="form-group input-group" >
                                                                                <select class="col-md-12 col-xs-12 col-sm-12"  formControlName="CountryCode">
                                                                                <option value="0" selected>Select Country</option>
                                                                                <option *ngFor="let data of country" value={{data.CountryCode}}  >
                                                                                    {{data.CountryName}}
                                                                                </option>
                                                                                </select>
                                                                            </div>
                                                                        </div> 
                                                                    </div>
                                                                    </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                  State Code :
                                                                </label>
                                                                <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <!-- <input type="text" name="UserName" class="col-sm-12 col-md-12 col-xs-12" /> -->
                                                                    <div class="form-group input-group" [ngClass]="displayFieldCss('StateCode')">
                                                                        <input type="text" required name="stateCode" class="col-sm-12 col-md-12 col-xs-12" formControlName="StateCode" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                 State Name :
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <!-- <input type="text"  class="col-sm-12 col-md-12 col-xs-12" /> -->
                                                                    <div class="form-group input-group" [ngClass]="displayFieldCss('StateName')">
                                                                        <input type="text" required name="stateName" class="col-sm-12 col-md-12 col-xs-12" formControlName="StateName" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                              
                                                               
                                                            </div>
                                                        </div>
                                   
                                </form>
                            </div>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" (click)="onSubmit()" class="btn btn-success"> Save</button>
               <!-- <button type="button" class="btn btn-success">Create</button>
                <button type="button" class="btn btn-success">Cancel</button> -->

                </div>
                
                </div>
                </div>
                </div>

    </div>
    <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">
       
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <p>Saved Successfully</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
      
     </div>
        
        </div>
        </div>
        </div>
     
     
     
        <div class="modal successPopup" id="myModalUpdate" [style.display]="showModalupdatepopup ? 'block' : 'none'">
           <div class="modal-dialog modal-sm">
           <div class="modal-content">
           
           <!-- Modal Header -->
           <div class="modal-header">
           <h4 class="modal-title">
          
           </h4>
           <button type="button" class="close" data-dismiss="modal" (click)="hideupdatepopup()">&times;</button>
           </div>
           
           <!-- Modal body -->
           <div class="modal-body">
           <p>Updated Successfully</p>
           </div>
           
           <!-- Modal footer -->
           <div class="modal-footer">
           <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hideupdatepopup()">Ok</button>
         
        </div>
           
           </div>
           </div>
           </div>
</div>

