<div class="main-content maincontainer">
  <div class="content">
    
      <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper p-0">
          <div class="col-sm-6 col-md-6 col-xs-3">
               <span class="legal">PortfolioFact</span>
          </div>
          <div class="rightmenu">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content">
                     
                       <li (click)="downloadCSVFile()" *ngIf="IsshowCSV">
                          <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to CSV"></i>
                          <label>
                              Export to CSV
                          </label>
                      </li>
                  
                          <li (click)="downloadPDFFile()"> 
                               <i class="fa fa-file-pdf-o" aria-hidden="true" title="Export to Pdf"></i>
                               <label>
                                  Export to PDF
                               </label>
                           </li>
                          
                   </ul>
              </div>
          </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 loaderposition"*ngIf="ShowLoaderp" >
        <img src="../../assets/images/loader.gif" class="loaderimagepage" />
    </div>
      
      <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
                  <form [formGroup]="PortFolioForm">
                    <div class="col-md-4 col-sm-3 col-xs-12" *ngIf="divEmployee">
                        <div class="form-group">
                            <label class="col-sm-5 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                               Employee :
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-9 no-padding-left displayinlineblock">
                                <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="Employee1" (change)="BindCustomers()" [ngClass]="{ 'validate': submitted && f.Employee1.errors }">
            
                                    <option value="">Select</option>
                                    <option *ngFor="let Data of BindemployeesList " value={{Data.PMSEmpId}} text={{Data.EmployeeName}}>                       
                                </select>
                              
                            </div>
                        </div>
                    </div>
      <div class="col-md-4 col-sm-3 col-xs-12 " *ngIf="CustNameDive">
          <div class="form-group">
              <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                 Customer Name:
              </label>
              <div class="col-sm-9 col-md-8 col-xs-9 no-padding-left displayinlineblock">
                  <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="CustomerAccount" [ngClass]="{ 'validate': submitted && f.CustomerAccount.errors }">
                    <option value="">Select</option>
                    <option value="0" selected>All Customer</option>
                    <option *ngFor="let Data of BindcustomerallfieldsList" value={{Data.CustomerAccountNo}} text={{Data.UserName}}>                                         
                  </select>
                
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                  <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                     As on:
                  </label>
                  <div class="col-sm-9 col-md-8 col-xs-9 no-padding-left displayinlineblock">
                      <input type="date" class="col-sm-12 col-md-12 col-xs-12" formControlName="Formdate" [ngClass]="{ 'validate': submitted && f.Formdate.errors }" >
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 " *ngIf="showfromdate">
                  <div class="form-group">
                      <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                       To Date :
                      </label>
                      <div class="col-sm-9 col-md-8 col-xs-9 no-padding-left displayinlineblock">
                          <input type="date" class="col-sm-12 col-md-12 col-xs-12" formControlName="Todate" [ngClass]="{ 'validate': submitted && f.Todate.errors }">
                      </div>
                  </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-12 mt-2  ">
                  <button type="button" (click)="bindGrid()" class="btn btn-success btnasearch ">Search</button>
                  </div>
                  </form>
         
  </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 tableDiv p-0 mt-3" id="tbldiv" style="display:block">
      <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper p-0">
          <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
               
          </div>
          <div class="rightmenu">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content btnCon">
                     
                      <li (click)="PreviousDayFun()">
                         
                          <label>
                             Previous Day
                          </label>
                      </li>
                      <li>
                       
                          <label (click)="LastOneWeekFun()">
                             Last One Week
                          </label>
                      </li>
                       
                       <li (click)="LastOneMonthFun()">
                              
                               <label>
                                 Last One Month
                               </label>
                           </li>
                   </ul>
              </div>
          </div>
      </div>  
   
      <div class="col-md-12 col-sm-12 col-xs-12 summaryGrid">

        <div class="col-md-12 col-sm-12 col-xs-12" id="portfolioSummaryGrid">
          <div  *ngIf="showGrid">
            <label class="notelabel">**This is sample report. Actual report shall be as per the corporate requirement**</label>
              <table class="bankmasterTable">
                  <thead style="border-bottom:0px">
                      <tr>
                          <th>
                              <table>
                                  <!-- <tr>

                                      <td class="text-center">ADROIT PMS SERVICES PVT LTD</td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">MUMBAI</td>
                                  </tr>
                                  
                                  <tr>
                                      <td class="text-center" style="font-weight: bold; font-size: 13px !important;">Portfolio Fact</td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">As Of 30/06/2020
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center"><span>Account : 6010001</span>     <span>RUBY DECOSTA - ADT001	</span>			

                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">ADROITPMS1
                                      </td>
                                  </tr> -->
                                 
                                  <tr *ngFor="let Data of data1">
                                    <td *ngIf="showmainheading"colspan="9" class="text-center">{{Data.Data}}</td>
                                 </tr>
                                
                              </table></th>
                      </tr> 
                      
                     
                  </thead>
                 
              </table>
              <div class="col-sm-6 col-md-6 col-xs-6 pl-0" id="portfolioAllocation">
             <div class="col-sm-12 col-md-12 col-xs-12 pl-0">
              <span class="legal subHeading">Sector Allocation</span>
         </div>
              <table class="bankmasterTable" id="allocation" style="width:99%" *ngIf="showsector">
                  <thead>
                     <tr>

                          <th style="width: 60px">Sr.No. </th>
                          <th style="width: 347px">Sector</th>
                          <th style="width: 50px">%Assets</th>
                      </tr>
                  </thead>
                  <tbody class="scrollbar">
                     
                      <tr *ngFor="let Data of sectorAllocation">
                          <td style="width: 60px">{{Data.SeqNum1}}</td>
                          <td style="width: 350px">{{Data.Sector}}</td>
                          <td style="width: 100px">{{Data.Asstes}}</td>
                      </tr>
                      <!-- <tr>
                          <td style="width: 60px">2</td>
                          <td style="width: 350px">Other</td>
                          <td style="width: 100px">2.75 %</td>
                      </tr>
                      <tr>
                        <td style="width: 60px">3</td>
                        <td style="width: 100px">Other</td>
                        <td style="width: 100px">2.75 %</td>
                    </tr>
                    <tr>
                      <td style="width: 60px">4</td>
                      <td style="width: 100px">Other</td>
                      <td style="width: 100px">2.75 %</td>
                  </tr>
                  <tr>
                    <td style="width: 60px">5</td>
                    <td style="width: 100px">Other</td>
                    <td style="width: 100px">2.75 %</td>
                </tr>
                <tr>
                  <td style="width: 60px">6</td>
                  <td style="width: 100px">Other</td>
                  <td style="width: 100px">2.75 %</td>
              </tr>
              <tr>
                <td style="width: 60px">7</td>
                <td style="width: 100px">Other</td>
                <td style="width: 100px">2.75 %</td>
            </tr> -->
                  </tbody>
                  <tfoot >
                     
                      <tr>
                          <td style="width:60px"></td>
                          <td style="width: 350px">Total</td>
                          <td style="width: 100px">{{SumAsstes}}</td>
                      </tr>

                  </tfoot>
              </table>
          </div>
          <div id="portfolioSummary" class="col-sm-6 col-md-6 col-xs-6 p-0">
              <div class="col-sm-12 col-md-12 col-xs-12 p-0">
               <span class="legal subHeading">Portfolio Holdings</span>
          </div>
              
                <table class="bankmasterTable" id="summary" style="width:93%" *ngIf="showholding">
                  <thead>
                     <tr>

                          <th style="width: 60px">Sr.No. </th>
                          <th style="width: 100px">security</th>
                          <th style="width: 100px">sector</th>
                          <th style="width: 100px">MKT Value</th>
                          <th style="width: 100px">%Assets</th>
                      </tr>
                  </thead>
                  <tbody class="scrollbar">
                     
                      <tr *ngFor="let Data of portfolioHolding">
                          <td style="width: 60px">{{Data.SeqNum1}}</td>
                          <td style="width: 100px">{{Data.Security}}</td>
                          <td style="width: 100px">{{Data.Sector}}</td>
                          <td style="width: 100px">{{Data.MktValue}}</td>
                          <td style="width: 100px">{{Data.PerAssets}}</td>
                      </tr>
                      <!-- <tr>
                          <td style="width: 60px">2</td>
                          <td style="width: 100px">Cash</td>
                          <td style="width: 100px">cash</td>
                          <td style="width: 100px">4</td>
                          <td style="width: 100px">4%</td>
                      </tr>
                      <tr>
                        <td style="width: 60px">3</td>
                        <td style="width: 100px">Cash</td>
                        <td style="width: 100px">cash</td>
                        <td style="width: 100px">4</td>
                        <td style="width: 100px">4%</td>
                    </tr>
                    <tr>
                      <td style="width: 60px">4</td>
                      <td style="width: 100px">Cash</td>
                      <td style="width: 100px">cash</td>
                      <td style="width: 100px">4</td>
                      <td style="width: 100px">4%</td>
                  </tr>
                  <tr>
                    <td style="width: 60px">5</td>
                    <td style="width: 100px">Cash</td>
                    <td style="width: 100px">cash</td>
                    <td style="width: 100px">4</td>
                    <td style="width: 100px">4%</td>
                </tr>
                <tr>
                  <td style="width: 60px">6</td>
                  <td style="width: 100px">Cash</td>
                  <td style="width: 100px">cash</td>
                  <td style="width: 100px">4</td>
                  <td style="width: 100px">4%</td>
              </tr> -->
                  </tbody>
                  <tfoot >
                     
                      <tr>
                          <td style="width:60px"></td>
                          <td style="width:140px">Total</td>
                          <td style="width:60px"></td>
                          <td style="width: 109px">{{SumMktValue}}</td>
                          <td style="width: 108px">{{SumPerAssets}}</td>
                      </tr>

                  </tfoot>
              </table>
                  
              
           </div>

           <div class="col-sm-12 col-md-6 col-xs-12 p-0 mt-1" id="portfolioPerformance">
              <div class="col-sm-12 col-md-12 col-xs-12 p-0">
               <span class="legal subHeading">Portfolio Summary</span>
          
               <table class="bankmasterTable" id="performance" style="width:97%;" *ngIf="showsummary">
                   <thead>
                      <tr>


                           <th style="width: 250px">{{sumarryheading1}} </th>
                           <th style="width: 100px">{{sumarryheading2}}</th>

                           
                       </tr>
                   </thead>
                   <tbody class="scrollbar">
                      
                       

                      <!-- <tr *ngFor="let Data of portfolioSummary">
                          <td style="width: 250px">{{Data.Heading}}</td>
                          <td style="width: 100px">{{Data.Data}}</td>
                      
                      </tr> -->
                       <tr>
                          <td style="width: 250px">{{sumarry1}}</td>
                          <td style="width: 100px">{{sumarry2}}</td>
                        
                      </tr>
                      <tr>
                        <td style="width: 250px">{{sumarry3}}</td>
                        <td style="width: 100px">{{sumarry4}}</td>
                      
                    </tr>
                    <tr>
                      <td style="width: 250px">{{sumarry5}}</td>
                      <td style="width: 100px">{{sumarry6}}</td>
                    
                  </tr>
                   <tr>
                    <td style="width: 250px">{{sumarry7}}</td>
                    <td style="width: 100px">{{sumarry8}}</td>

                  
                </tr>
            <!--    <tr>
                  <td style="width: 250px">Profit/Loss</td>
                  <td style="width: 100px" class="price">54</td>
                
              </tr> -->
                     
                   </tbody>
                   
               </table>
              </div>
           </div>
           <div id="portfolioSummary" class="col-sm-6 col-md-6 col-xs-6 p-0">
            <div class="col-sm-12 col-md-12 col-xs-12 p-0">
             <span class="legal subHeading">Performance(TWRR)</span>
        </div>
            
              <table class="bankmasterTable" id="summary" style="width:93%" *ngIf="showperformance">
                <thead>
                   <tr>

                        <th style="width: 60px"></th>
                        <th style="width: 100px">{{performanceheading2}}</th>
                        <th style="width: 100px">{{performanceheading3}}</th>
                        <th style="width: 100px">{{performanceheading4}}</th>
                        <th style="width: 100px">{{performanceheading5}}</th>
                    </tr>
                </thead>
                <tbody class="scrollbar">
                   
                    <!-- <tr *ngFor="let Data of PortfolioPerformance">
                        
                        <td style="width: 60px">{{Data.Heading}}</td>
                    
                        <td style="width: 100px">{{Data.Data1}}</td>
                        <td style="width: 100px">{{Data.Data2}}</td>
                        <td style="width: 100px">{{Data.Data3}}</td>
                        <td style="width: 100px">{{Data.Data4}}</td>
                     </tr> -->
                    <tr>
                      <td style="width: 60px">{{performance1}}</td>
                      <td style="width: 100px">{{performance2}}</td>
                      <td style="width: 100px">{{performance3}}</td>
                      <td style="width: 100px">{{performance4}}</td>
                      <td style="width: 100px">{{performance5}}</td>
                  </tr>
                  <tr>
                    <td style="width: 60px">{{performance6}}</td>
                    <td style="width: 100px">{{performance7}}</td>
                    <td style="width: 100px">{{performance8}}</td>
                    <td style="width: 100px">{{performance9}}</td>
                    <td style="width: 100px">{{performance10}}</td>
                </tr>
                <tr>
                  <td style="width: 60px">{{performance11}}</td>
                  <td style="width: 100px">{{performance12}}</td>
                  <td style="width: 100px">{{performance13}}</td>
                  <td style="width: 100px">{{performance14}}</td>
                  <td style="width: 100px">{{performance15}}</td>
              </tr>
              <!-- <tr>
                <td style="width: 60px">{{performance16}}</td>
                <td style="width: 100px">{{performance17}}</td>
                <td style="width: 100px">{{performance18}}</td>
                <td style="width: 100px">{{performance19}}</td>
                <td style="width: 100px">{{performance20}}</td>
            </tr> -->
           <!-- <tr>
              <td style="width: 60px">NIFTY</td>
              <td style="width: 100px">4%</td>
              <td style="width: 100px">4%</td>
              <td style="width: 100px">4%</td>
              <td style="width: 100px">4%</td>
          </tr>
                    <tr>
                      <td style="width: 60px">NIFTY</td>
                      <td style="width: 100px">4%</td>
                      <td style="width: 100px">4%</td>
                      <td style="width: 100px">4%</td>
                      <td style="width: 100px">4%</td>
                  </tr>  -->
                </tbody>
              
            </table>
                
            
         </div>
</div>
          
      </div>
      


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="paginationDiv">
            <!-- <span class="previousBtn"(click)="BindNextData(0)" *ngIf="btnPrev">Previous</span> -->
            <span class="previousBtn"(click)="NextData(0)"*ngIf="btnPrev" >Previous</span>
            <span class="paginationCount">{{data}}</span>
            <!-- <span class="nextBtn"(click)="BindNextData(1)" *ngIf="btnNext">Next</span> -->
            <span class="nextBtn"(click)="NextData(1)" *ngIf="btnNext">Next</span>
        </div>
</div>

</div>
          
      </div>
    

  </div>

</div>

