<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper p-0">
            <div class="col-sm-6 col-md-6 col-xs-3">
                <span class="legal">Transaction Statement</span>
</div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">
                       
                        <li (click)="downloadCSVFile()">
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to CSV"></i>
                            <label>
                                Export to CSV
                            </label>
                        </li>
                         
                         <li (click)="downloadPDFFile()">
                                 <i class="fa fa-file-pdf-o" aria-hidden="true" title="Export to Pdf"></i>
                                 <label>
                                    Export to PDF
                                 </label>
                             </li>
                     </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
                <form [formGroup]="TransactionStatementForm" autocomplete="off" appNorightclick>
                    <div class="col-md-3 col-xs-3 col-xs-12 " *ngIf="isShowsEmployee">
                        <div class="form-group">
                          <label class="col-sm-5 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                            Employee Name :
                          </label>
                          <div class="col-sm-7 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                              <select class="dropdown col-sm-12 col-md-12 col-xs-12"  #EmployeeId formControlName="EmployeeId" (change)="BindCustomerOnChange(EmployeeId.value)">
                  
                                  <option value="0">Select</option>
                                  <option *ngFor="let Data of BindemployeesList" value={{Data.PMSEmpId}} text={{Data.EmployeeName}}>                       
                              </select>
                                            
                          </div>
                      </div>
                     </div>
                    <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="isShowCustomer" >
                        <div class="form-group" >
                            <label class="col-sm-3 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                               Customer Name :
                            </label>
                            <div class="col-sm-9 col-md-7 col-xs-9 p-0 displayinlineblock">
                                <!-- <select class="dropdown col-sm-12 col-md-12 col-xs-12" #CustomerAccount formControlName="CustomerAccount" >
                                    <option value="">Select</option>
                                    <option *ngFor="let Data of BindcustomerallfieldsList" value={{Data.UserId}} text={{Data.UserName}}>                       
                                </select> -->
                                <select class="col-md-12 col-xs-12 col-sm-12"  formControlName="UserId">
                                    <option value="0" selected>All Customer</option>
                                    <option *ngFor="let data of customer" value={{data.UserId}}  >
                                        {{data.UserName}}
                                    </option>
                                 </select>
                              
                            </div>
                        </div>
                            
                    </div>                
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-3 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                               From Date :
                            </label>
                            <div class="col-sm-9 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                                <input type="date" class="col-sm-12 col-md-12 col-xs-12" #FromDate formControlName="FromDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-3 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                               To Date :
                            </label>
                            <div class="col-sm-9 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                                <input type="date" class="col-sm-12 col-md-12 col-xs-12" #ToDate formControlName="ToDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 pull-right mt-2">
                        <!-- <button type="button" class="btn btn-success btnasearch"  (click)="BindGrid(FromDate.value,ToDate.value)">Search</button> -->
                        <button type="submit" (click)="onSubmit()" class="btn btn-success ml-4"> Search</button>
                    </div>
                </form>        
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv mt-4 p-0" id="tbldiv">
            <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper p-0">
                <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                    
                </div>
                <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content btnCon">
                        <li (click)="PreviousDayFun()">
                           <label>
                              Previous Day
                           </label>
                       </li>
                       <li>
                           <label (click)="LastOneWeekFun()">
                              Last One Week
                           </label>
                       </li>
                        <li (click)="LastOneMonthFun()">
                                <label>
                                  Last One Month
                                </label>
                            </li>
                      </ul>
                </div>
                </div>
            </div>   
            <!-- <div class="col-md-12 col-sm-12 col-xs-12 " *ngIf="divMainGrid">
                <ag-grid-angular
                style="width: 100%; height: 460px;"
                class="ag-theme-alpine"
                [rowData]="BindmaingridList"
                [columnDefs]="columnDefs"
                [enableFilter]="false"
                [enableSorting]="true"
                [showToolPanel]="true"
                [pagination]="true" 
        [paginationAutoPageSize]="true">
            </ag-grid-angular>
                <div class="col-md-12 col-sm-12 col-xs-12" style="display: none;">
                    <div class="paginationDiv">
                            <span class="previousBtn">Previous</span>
                            <span class="paginationCount">50 out of 200</span>
                            <span class="nextBtn">Next</span>
                    </div>
                </div> 
            </div> -->

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="holdingreportGrid">
                   <table class="bankmasterTable" id="bankmastertable">
                      <thead>
                        <tr *ngFor="let data of bindmaingridHeader ; index as i">
                            <td colspan="6" class="text-center; ">{{data.Date }}</td>
                         </tr>
                         <!-- <tr>
                            <th style="width: 182px">Date</th>
                            <th style="width: 222px">Settlement Date</th>
                            <th style="width: 233px">Tran Ref.</th>
                            <th style="width: 204px">Detail</th>
                            <th style="width: 205px">Desc/Notes</th>
                            <th style="width: 124px">Amount</th>
                         </tr> -->
                      </thead>
                      <tbody class="scrollbar">
                         <tr>
                            <td colspan="9">
                               <!-- <strong >Expenses-Paid
                               </strong> -->
                               <table>
                                  <tbody>
                                     <!-- <tr *ngFor="let data of bindmaingridHeader ; index as i">
                                        <td colspan="6" class="text-center">{{data.Date }}</td>
                                     </tr> -->
                                     <div *ngIf="isShowbindmaingridDetails" >
                                    
                                     <tr *ngFor="let data of bindmaingridDetails ; index as i"  >
                                        <td style="width: 380px">{{data.TransactionDesc }}</td>
                                        <td style="width: 233px">{{data.TransactionDate }}</td>
                                        <td style="width: 222px">{{data.SettlementDate }}</td>
                                        
                                        <td style="width: 205px">{{data.Security }}</td>
                                        <td style="width: 124px">{{data.Exchange }}</td>


                                        <td style="width: 233px">{{data.Quantity }}</td>
                                        <td style="width: 204px">{{data.UnitPrice }}</td>

                                        <td style="width: 233px">{{data.Brkg }}</td>
                                        <td style="width: 204px">{{data.STT }}</td>
                                        <td style="width: 204px">{{data.SettlementAmount }}</td>
                                     </tr>
                                     </div>
                                     <div *ngIf="isShowmaingridDetailsSummary" >
                                        <tr *ngFor="let data of bindmaingridDetailsSummary ; index as i" >
                                        <td style="width: 182px">{{data.TransactionDesc }}</td>
                                        <td style="width: 222px">{{data.PreviousPeriodTranNotSettle }}</td>
                                        <td style="width: 233px">{{data.PreviousPeriodTranSettledCurrentPeriod }}</td>
                                        <td style="width: 204px">{{data.CurrentPeriodTranSettledDuringPeriod }}</td>

                                        <td style="width: 222px">{{data.CurrentPeriodTranNotSettled }}</td>
                                        <td style="width: 233px">{{data.TotalCurrentPeriodTran }}</td>
                                        <td style="width: 204px">{{data.TotalCurrentPeriodSettled }}</td>
                                        </tr>
                                     </div>
                                  </tbody>
                                  <tfoot>                                   
                                    </tfoot>
                               </table>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="9">
                               <table>
                                  <tbody>
                                  </tbody>
                               </table>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>

            <div class="paginationDiv">
                <span class="previousBtn" (click)="PreviousClick()">Previous</span>
               <span class="paginationCount"  id="lblcount"></span>
               <span class="nextBtn" (click)="NextClick()" >Next</span>
           </div>
        </div>
    </div>
</div>

