.warningPopup .modal-dialog, .successPopup .modal-dialog {
  margin-top: 44px !important;
}
.successPopup .modal-content{width: 118%;
  height: 591px!important;
}
.holdingreportGrid tbody {
   
  /* display: block;
  max-height: 40vh; */
}

.holdingreportGrid tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
 .popscrollbar{overflow:scroll;
max-height:500px;
height:500px;} 



.holdingreportGrid tbody{
  overflow-x: scroll;
  width: 100%;

}
tfoot{display: block;}
thead{display: block;}        

.holdingreportGrid thead tr {
  width: 100%;
  
  table-layout: fixed;
}      
.holdingreportGrid{height:202px;}



@media only screen and (max-device-width : 1400px) { .divinlineblock{display:inline-block;} }
@media only screen and (max-device-width : 1330px) { #divform{   overflow-y: scroll!important;
  height: 421px !important; }  }
@media only screen and (max-device-width : 767px) {   
  .maincontainer{width:100% !important}  
  #createuser .modal-dialog {
    margin: 3px 0 0 27% !important;
}
.successPopup .modal-dialog {
  width: 90%;
}
.toolbar-content li {
 margin-right: 4px !important; 
 padding:1px 6px 0px 1px !important; 
}
#divform{   overflow-y: scroll!important;
  height: 421px !important; }
}
@media only screen and (max-device-width: 736px)
{
#createuser .modal-dialog{
  margin: 3px 0 0 34% !important;
}
#divform{   overflow-y: scroll!important;
  height: 421px !important; }
}
@media only screen and (max-device-width: 648px){

  #createuser .modal-dialog{
    margin: 3px 0 0 34% !important;
  }
  #divform{      overflow-y: scroll!important;
    height: 286px !important; }
   
}
@media only screen and (max-device-width : 575px) {  
.content {
height: 97%;
}

#divform{   overflow-y: scroll!important;
  height: 421px !important; }
  .divblock{
    position: absolute;
    top: 97%;
    padding: 0px;
    left: -4%;
  }
  .btnasearch{float: right!important;

    margin-right: 12px;
}
  .clientbox{
    margin: 1% 0% 8% 0%;
  }
}

