<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
               
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 <span class="legal"></span>
             
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">

                        
                          
                        <li (click)="downloadCSVFile()" *ngIf="liExporttoex">
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to Excel"></i>
                            <label>
                                Export to Excel
                            </label>
                        </li> 
                        <!-- <li>
                            <i class="fa fa-download" aria-hidden="true" title="Save"></i>
                            <label>
                                Download Template
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-upload" aria-hidden="true" title="Upload User"></i>
                            <label>
                                Upload User
                            </label>
                        </li> -->
                        <li (click)="onClickNew()" *ngIf="liNew">
                            <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-5 col-sm-4 col-xs-4"></div>
           

        </div>
       
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" *ngIf="showGrid">
            <div class="filter">
                <input type="text" #SearchData (keyup.enter)="SearchFun(SearchData.value)" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            
            
           <ag-grid-angular
    style="width: 100%; height: 460px;"
    class="ag-theme-alpine"
    [rowData]="BindgridfieldsList"
    [columnDefs]="columnDefs"
    [enableFilter]="false"
      [enableSorting]="true"
      [showToolPanel]="true"
      [pagination]="true" 
      [paginationAutoPageSize]="true"
      rowSelection="single"
      (cellClicked)="onRowSelected($event)">
</ag-grid-angular>
<!-- <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="paginationDiv">
            <span class="previousBtn">Previous</span>
            <span class="paginationCount">50 out of 200</span>
            <span class="nextBtn">Next</span>
        </div>
</div> -->
            
        </div>
         <form [formGroup]="NoteMasterForm" autocomplete="off" appNorightclick>
        <div class="col-md-12 col-sm-12 col-xs-12  pr-0" *ngIf="showForm">
        <div class=" col-sm-12 col-xs-12 col-md-12 formatbox  ">
                        <div class=" col-sm-12 col-xs-12 col-md-12 boxhead "> 
                            <div class="col-sm-12 col-xs-12 col-md-1" [attr.disabled]="btnsavedisable ? '' : null"  (click)="SaveData()">
                                <div class="sendBtn">
                                    <img src="assets/images/send_icon.png" />
                                    <label>Send</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-11 p-0">
                             <div class="row">
                                  
                        <div class="col-md-9 col-sm-12 col-lg-9 col-xs-12">
                            <div class="form-group" style="margin:0px">
                              
                                <label class="col-sm-1 col-md-1 col-xs-12 control-label no-padding" style="margin-top: 5px;">
                                   To:</label>
                                <div class="col-sm-11 col-md-11 col-xs-11 no-padding">
                                    <div class="form-group input-group m-0 mb-1">
                                    <input type="email" id="txtEmailId" placeholder="to@company.ca, to@company.ca..."  (focusout)="chkEmail()" [attr.disabled]="Emailcodedisabled ? '' : null"  [ngClass]="displayFieldCss('Email')" formControlName="Email" name="Email"  class="col-sm-12 col-md-12 col-xs-12" style="border:1px solid #cbcfd2 !important" />
                                </div>
                                </div>
                                     
                            </div>
                        </div> 
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 mt-1">

                            <div class="form-group input-group">
                            <input type="checkbox" [ngClass]="displayFieldCss('Allcustomercheck')" [attr.disabled]="Allcheckboxcodedisabled ? '' : null" formControlName="Allcustomercheck" name="Allcustomercheck" (change)="Allcustomer_Change();" style=" margin-right: 5px!important; margin-top: 1px;" /> 
                                <label>Send to all customers</label>
                        </div>
                   
                </div>  
                             </div>
                                              
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 p-0">
                                <div class="form-group" style="margin:0px">
                                  
                                    <label class="col-sm-1 col-md-1 col-xs-12 subject control-label no-padding" style="margin-top: 5px;">
                                       Subject:</label>
                                    <div class="col-sm-11 col-md-11 col-xs-11 no-padding">
                                        <div class="form-group input-group m-0 mb-1" [ngClass]="displayFieldCss('Subject')">
                                        <input type="text" [attr.disabled]="Subjectcodedisabled ? '' : null" [ngClass]="displayFieldCss('Subject')" formControlName="Subject" name="Subject" class="col-sm-12 col-md-12 col-xs-12"style="border:1px solid #cbcfd2 !important" />
                                    </div>
                                    </div>
                                         
                                </div>
                            </div>
                        </div>
        
                            <div class="col-md-12 col-sm-12 col-xs-12 mailBox">
                            <textarea rows="500" cols="220" [attr.disabled]="Subjectnotecodedisabled ? '' : null" [ngClass]="displayFieldCss('SubjectNote')" formControlName="SubjectNote" name="SubjectNote">
        
        </textarea>
        <div class="btnbox pull-left mt-2">
            <a href="{{imagebindurl}}" (click)="CheckClickLink()" [attr.disabled]="Attachmentcodedisabled ? '' : null" class="btn btn-sm btn-success mr-2" alt="" target="_blank"><i class="fa fa-paperclip"></i> Attachment</a>
            <!-- <button type="button" class="btn btn-sm btn-success mr-2" id="" ><i class="fa fa-paperclip"></i> Attachment </button> -->
            <input type="file"  (change)="Filechangeevent($event,1)" [attr.disabled]="FileCoddisabled ? '' : null" style="display:inline-block;" class="mt-" />
            <label id="lblName">{{lblmsg}}</label>
        </div>         
                            
    
    </div>
                            
                            <div class="rightmenu">
                                <div class="toolbar pull-right mt-2">
                                    <!-- <button type="button" class="btn btn-sm btn-success mr-2" [attr.disabled]="btnsavedisable ? '' : null"  (click)="SaveData()"> Save </button>  -->
                                    <button type="button" class="btn btn-sm btn-success mr-2" (click)="CancelFun()"> Cancel</button> 
                                   
                                </div>
                            </div>
                              
                                           
        
                        </div>
                    </div>
                </div>
              </form>                         
<!-- 
        <div class="modal" id="createuser" [style.display]="showModalstatemaster ? 'block' : 'none'">
                <div class="modal-dialog">
                <div class="modal-content">
                
                    <button type="button" class="closeDiv" data-dismiss="modal" (click)="hidestatemaster()">&times;</button>
                
              
                <div class="modal-body">
                    <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
                        <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                            <h4 class="pageTitle">
                                Create State
                                 </h4>
            
                        </div>
                        <div class="rightmenu">
                            <div class="toolbar pull-right">
                                
                            </div>
                        </div>
                    </div>
                    
                        <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block">
                                <form class="" >
                                                    <div class="row no-padding mt-2">
                                                        <div class="col-md-12 col-sm-4 col-xs-12 p-0">
                                                                <div class="col-md-12 col-sm-4 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                               Country:
                                                                            </label>
                                                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                                    <select class="dropdown col-sm-7 col-md-12 col-xs-7">
                                                                                            <option>Select Country</option>
                                                                                            <option>IND</option>
                                                                                            <option>AUS</option>
                                                                                            <option>USA</option>
                                                                                            <option>AFG</option>
                                                                                        </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-5 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                  State Code :
                                                                </label>
                                                                <div class="col-sm-7 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text" name="UserName" class="col-sm-12 col-md-12 col-xs-12" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                                 State Name :
                                                                </label>
                                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                                    <input type="text"  class="col-sm-12 col-md-12 col-xs-12" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                              
                                                               
                                                            </div>
                                                        </div>
                                   
                                </form>
                            </div>
                </div>
                
              
                <div class="modal-footer">

               <button type="button" class="btn btn-success">Create</button>
                <button type="button" class="btn btn-success">Cancel</button>

                </div>
                
                </div>
                </div>
                </div> -->


                <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
                    <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                    
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">
                   
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                    <p><span [innerHTML]="SucesspopText"></span></p>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
                  
                </div>
                    
                    </div>
                    </div>
                    </div>

    </div>

</div>

