/*.holdingreportGrid tbody {
    max-height: 52vh !important;
}

.holdingreportGrid {
    overflow: hidden;
    overflow-x: auto;

}


    .holdingreportGrid table {
        width: 100%;
        display:table;
    }
    .holdingreportGrid table thead, .holdingreportGrid table tbody{ display:table; width:100%} 
table tbody tr td table tbody {
overflow:hidden}*/
.text{    font-size: 14px;
    text-align: center;
    color: #003974;
    margin-top: 12%;
}
.notelabel{color: #f31313;
    font-style: italic;
    position: absolute;
    right: 26px;
    top: 2px;}
table{display: block;}
.loaderposition {
    position: absolute;
    z-index: 9999 !important;
    text-align: center;
    /* top: 37%; */
  }
  .loaderimagepage {
    margin-left: -12%;
    margin-top: 2%;
    width: 8%;
  }
.holdingreportGrid tbody {
   
    display: block;
    max-height: 68vh;
}

.holdingreportGrid tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
        
tfoot{display: block;}
thead{display: block;}        

.holdingreportGrid thead tr {
    width: 100%;
    
    table-layout: fixed;
}      
.holdingreportGrid{height:202px;}
  

