<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>
        </div>
        <div class="loaderOverlay"  *ngIf="loader1" ></div>
        <div class="col-md-12 col-sm-12 col-xs-12 loaderposition" *ngIf="loader2">
            <img src="../../assets/images/loader.gif" />
        </div>
  
        <form [formGroup]="fileupload" autocomplete="off" class="form">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper p-0">
            <div class="col-sm-6 col-md-6 col-xs-3">
                <span class="legal">File Upload</span>
                </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">
                       
                         
                         <li *ngIf="btnupload" (click)="uploadClick()">
                                 <i class="fa fa-upload" aria-hidden="true" title="Upload"></i>
                                 <label>
                                    Upload
                                 </label>
                                
                             </li>
                             <li *ngIf="btnfileinput">
                            
                                <input class="" id="fileinput" type="file" #fileInput (change)="uploadcsvfile()" />
                            </li>
                     </ul>
                </div>
            </div>
        </div>
       
        
  
      
        </form>
    
        <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
            <div class="modal-dialog modal-sm">
            <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">
           
            </h4>
            <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
            <p>File Upload Successfully</p>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
          
         </div>
            
            </div>
            </div>
            </div>
    </div>
  
  </div>
  
  