<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>
        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                 <span class="legal">Current Portfolio: Report View</span>
             
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">

                        <li >
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Fetch Latest Report"></i>
                            <label>
                                Fetch Latest Report
                            </label>
                        </li>
                          
                        <li (click)="downloadCSVFile($event)">
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to PDF"></i>
                            <label>
                                Export to PDF
                            </label>
                        </li> 
                        <!-- <li>
                            <i class="fa fa-download" aria-hidden="true" title="Save"></i>
                            <label>
                                Download Template
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-upload" aria-hidden="true" title="Upload User"></i>
                            <label>
                                Upload User
                            </label>
                        </li> -->
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 loaderposition" style="display:none">
            <img src="../../assets/images/loader.gif" class="loaderimagepage" />
        </div>
       
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
           
               
                <div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                           Report Date :
                        </label>
                        <div class="col-sm-9 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                            <input type="date" class="col-sm-12 col-md-12 col-xs-12" formControlName="AsOnDate" >
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 mt-2 btnsearch">
                        <!-- <button type="button" class="btn btn-success btnasearch">Search</button> -->
                        <button type="submit" (click)="onSubmit()" class="btn btn-success ml-4"> Search</button>
                </div>
            
               
        </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" id="tbldiv" style="display:block">
            <!-- <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div> -->

            <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
             </div>
            
             <ag-grid-angular
             style="width: 100%; height: 350px;"
             class="ag-theme-alpine"
             [rowData]="rowData"
             [columnDefs]="columnDefs"
             [enableFilter]="true"
               [enableSorting]="true"
               [showToolPanel]="true" >
         </ag-grid-angular>
           
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="paginationDiv">
            <span class="previousBtn">Previous</span>
            <span class="paginationCount">50 out of 200</span>
            <span class="nextBtn">Next</span>
        </div>
</div> 
        </div>
        
       
    
       

    </div>
   
     
     
     
      
</div>

