<div class="dvLinks" >
  <ul class="nav nav-list">

      <li class=""><a routerLink="/Home" routerLinkActive="active"><span class="menu-text">Home</span></a></li>
      <li class=""><a routerLink="/Dashboard" routerLinkActive="active"><span class="menu-text">Dashboard </span></a></li>
      <li class=""><a routerLink="/NachMandate" routerLinkActive="active"><span class="menu-text">Nach Mandate</span></a></li>
      <li class=""><a routerLink="/HistoricalMandate" routerLinkActive="active"><span class="menu-text">Historical Mandate</span></a></li>
      <li class=""><a routerLink="/DownloadMandate" routerLinkActive="active"><span class="menu-text">Download Mandate</span></a></li>
      <li class=""><a routerLink="/DownloadOldMandate" routerLinkActive="active"><span class="menu-text">Download Old Mandate</span></a></li>
      <li class=""><a routerLink="/DownloadEMandate" routerLinkActive="active"><span class="menu-text">Download E-Mandate</span></a></li>
      <li class=""><a routerLink="/DownloadOldEMandate" routerLinkActive="active"><span class="menu-text">Download Old E-Mandate</span></a></li>
      <li class=""><a routerLink="/TransactionPresentment" routerLinkActive="active"><span class="menu-text">Transaction Presentment</span></a></li>
      <li class=""  ><a routerLink="" ><span class="menu-text">Users & Role Center</span></a>
      <ul >
        <li class=""><a routerLink="/UserCreation" routerLinkActive="active"><span class="menu-text">User Creation</span></a></li>
        <li class=""><a routerLink=""><span class="menu-text">Role Distribution</span></a>
        <ul>
          <li class=""><a routerLink="/BankRoles" routerLinkActive="active"><span class="menu-text">Bank Roles</span></a></li>
          <li class=""><a routerLink="/CorporateRoles" routerLinkActive="active"><span class="menu-text">Corporate Roles</span></a></li>
          <li class=""><a routerLink="/YoekiRoles" routerLinkActive="active"><span class="menu-text">Yoeki Roles</span></a></li>
       
        </ul>
      </li>
      </ul>
      </li>
      <li class=""><a routerLink=""><span class="menu-text">Corporate Setup </span></a>
        <ul>
          <li class=""><a routerLink="/CreateRequest" routerLinkActive="active"><span class="menu-text">Create Request</span></a></li>
          <li class=""><a routerLink="/OnboardingRequest" routerLinkActive="active"><span class="menu-text">Onboarding Request</span></a></li>

        </ul>
      </li>
      <li class=""><a routerLink=""><span class="menu-text">Mandate Analysis</span></a>
        <ul>
          <li class=""><a routerLink="/PhysicalMandateAnalysis" routerLinkActive="active"><span class="menu-text">Physical Mandate Analysis</span></a></li>
          <li class=""><a routerLink="/EMandateAnalysis" routerLinkActive="active"><span class="menu-text">E-Mandate Analysis</span></a></li>

        </ul>
      </li>
      <li class=""><a routerLink=""><span class="menu-text">All UMRN</span></a>
        <ul>
          <li class=""><a routerLink="/RegisteredUMRN" routerLinkActive="active"><span class="menu-text">Registered UMRN</span></a></li>
          <li class=""><a routerLink="/RejectedUMRN" routerLinkActive="active"><span class="menu-text">Rejected UMRN</span></a></li>

        </ul>
      </li>
      <li class=""><a routerLink=""><span class="menu-text">Bulk Mandate</span></a>
        <ul>
          <li class=""><a routerLink="/BulkEmandate" routerLinkActive="active"><span class="menu-text">Bulk E-Mandate</span></a></li>
          <li class=""><a routerLink="/BulkPhysicalMandate" routerLinkActive="active"><span class="menu-text">Bulk Physical Mandate</span></a></li>
          <li class=""><a routerLink="/UMRNUpload" routerLinkActive="active"><span class="menu-text">UMRN Upload</span></a></li>

        </ul>
      </li>
      <li class=""><a routerLink=""><span class="menu-text">Masters </span></a>
        <ul>
          <li class=""><a routerLink="/ProductMaster" routerLinkActive="active"><span class="menu-text">Product Master</span></a></li>
          <li class=""><a routerLink="/StateMaster" routerLinkActive="active"><span class="menu-text">State Master</span></a></li>
          <li class=""><a routerLink="/RegionMaster" routerLinkActive="active"><span class="menu-text">Region Master</span></a></li>
         <li class=""><a routerLink="/BranchMaster" routerLinkActive="active"><span class="menu-text">Branch Master</span></a></li>

        </ul>
      </li>
      </ul>
     
</div>


