<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper p-0">
            <div class="col-sm-6 col-md-6 col-xs-3">
                 <span class="legal"> Portfolio Summary</span>
            </div>
            <!-- <div class="rightmenu">
                <div class="toolbar pull-right">
                    <li (click)="downloadCSVFile()">
                        <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to CSV"></i>
                        <label>
                            Export to CSV
                        </label>
                    </li>
                    <li (click)="downloadPDFFile()">
                     <i class="fa fa-file-pdf-o" aria-hidden="true" title="Export to Pdf"></i>
                        <label>
                        Export to PDF
                        </label>
                     </li>
                </div>
            </div> -->
            <div class="rightmenu">
                <div class="toolbar pull-right">
                   <ul class="toolbar-content">
                      <li (click)="downloadCSVFile()">
                         <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to CSV"></i>
                         <label>
                            <!-- <a href="../../../assets/Files/Holding Report.csv">Export to CSV</a> -->
                            Export to CSV
                         </label>
                         <!-- <a href="../../../assets/ExcelReports/HoldingReport.csv"> <button type="button" id="btnExport" class="btn  pdfbtns" title="Export">
                            <i class="fa fa-file-excel-o"></i>
                            </button></a> --> 
                      </li>
                      <li (click)="downloadPDFFile()">
                         <i class="fa fa-file-pdf-o" aria-hidden="true" title="Export to Pdf"></i>
                         <label>
                         <!-- <a target="_blank"  href="../../../assets/Files/Portfolio_Report.pdf"> Export to PDF</a> -->
                         Export to PDF
                         </label>
                         <!-- <a href="../../../assets/ExcelReports/HoldingReport.pdf"><button type="button" id="btnPdf" class="btn  pdfbtns" title="PDF">
                            <i class="fa fa-file-pdf-o"></i>
                            </button></a> -->
                      </li>
                   </ul>
                </div>
             </div>
        </div>

        <!-- <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>
        </div>
         -->

         <div class="col-md-12 col-sm-12 col-xs-12 loaderposition" *ngIf="isShowLoader" >
            <img src="../../assets/images/loader.gif" class="loaderimagepage" />
        </div>
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
        <form [formGroup]="PortfolioSummaryForm" autocomplete="off" appNorightclick>
            <div class="col-md-3 col-xs-3 col-xs-12 " *ngIf="isShowsEmployee">
                <div class="form-group">
                  <label class="col-sm-5 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                    Employee Name :
                  </label>
                  <div class="col-sm-7 col-md-7 col-xs-9 no-padding-left displayinlineblock">
                      <select class="dropdown col-sm-12 col-md-12 col-xs-12"  #EmployeeId formControlName="EmployeeId" (change)="BindCustomerOnChange(EmployeeId.value)">
          
                          <option value="0">All Employee</option>
                          <option *ngFor="let Data of BindemployeesList" value={{Data.PMSEmpId}} text={{Data.EmployeeName}}>                       
                      </select>
                  </div>
              </div>
             </div>
            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="isShowCustomer" >
                <div class="form-group" >
                    <label class="col-sm-3 col-md-5 col-xs-3 control-label no-padding" for="form-field-1">
                       Customer Name :
                    </label>
                    <div class="col-sm-9 col-md-7 col-xs-9 p-0 displayinlineblock">
                        <select class="col-md-12 col-xs-12 col-sm-12"  formControlName="UserId">
                            <option value="0" selected>All Customer</option>
                            <option *ngFor="let data of customer" value={{data.UserId}}  >
                                {{data.UserName}}
                            </option>
                         </select>
                      
                    </div>
                </div>
                    
            </div>  
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                       As Of :
                    </label>
                    <div class="col-sm-9 col-md-8 col-xs-9 no-padding-left displayinlineblock">
                        <input type="date" class="col-sm-12 col-md-12 col-xs-12" formControlName="AsOnDate" >
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 mt-2">
                    <!-- <button type="button" class="btn btn-success btnasearch">Search</button> -->
                    <button type="submit" (click)="onSubmit()" class="btn btn-success ml-4"> Search</button>
            </div>
            </form>
           
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 tableDiv p-0 mt-3" id="tbldiv" style="display:block">
        <!-- <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper p-0">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content btnCon">
                       
                        <li (click)="PreviousDayFun()">
                           
                            <label>
                               Previous Day
                            </label>
                        </li>
                        <li>
                         
                            <label (click)="LastOneWeekFun()">
                               Last One Week
                            </label>
                        </li>
                         
                         <li (click)="LastOneMonthFun()">
                                
                                 <label>
                                   Last One Month
                                 </label>
                             </li>
                     </ul>
                </div>
            </div>
        </div>   -->
     
        <div class="col-md-12 col-sm-12 col-xs-12 summaryGrid" id="portfolioSummaryGridPdf">

          <div class="col-md-12 col-sm-12 col-xs-12 p-0">
            <div id="portfolioSummaryGrid">
                <table class="bankmasterTable" id="bankmastertable">
                    <thead style="border-bottom:0px">
                        <tr>
                            <th>
                                <table>
                                    <tr *ngFor="let data of bindmaingridHeader ; index as i">
                                        <td class="text-center">{{data.Date }}</td>
                                     </tr>
                                    <!-- <tr>
                                        <td class="text-center">MUMBAI</td>
                                    </tr> -->
                                </table>
                            </th>
                        </tr> 
                    </thead>                   
                </table>
                <div class="col-sm-6 col-md-6 col-xs-6 pl-0" id="portfolioAllocation">
               <div class="col-sm-12 col-md-12 col-xs-12 pl-0">
                <span class="legal subHeading">Portfolio Allocation</span>
           </div>
                <table class="bankmasterTable" id="allocation" style="width:93%">
                    <thead>
                       <tr>
                            <th style="width: 278px">Description </th>
                            <th style="width: 149px" class="price" >Market Value</th>
                            <th style="width: 86px">%Assets</th>
                        </tr>
                    </thead>
                    <tbody class="scrollbar">
                        <tr *ngFor="let data of bindPortfolioAllocation ; index as i"  >
                            <td style="width: 278px">{{data.Description }}</td>
                            <td style="width: 149px" class="price" >{{data.MarketValue }}</td>  
                            <td style="width:86px" >{{data.PerAsstes }}%</td>
                            
                         </tr>
                        <!-- <tr>
                            <td style="width: 360px">Equity </td>
                            <td style="width: 100px" class="price">1,669,414.50</td>
                            <td style="width: 100px" class="profit">112.75 %</td>
                        </tr>
                        <tr>
                            <td style="width: 360px">Cash and Equivalent  </td>
                            <td style="width: 100px" class="price">(188,782.16)</td>
                            <td style="width: 100px" class="loss">-12.75 %</td>
                        </tr> -->
                    </tbody>
                    <tfoot >
                       
                        <!-- <tr>
                            <td style="width:360px">Total</td>
                            <td style="width: 100px" class="price">1,480,632.34</td>
                            <td style="width: 100px">100.00 %</td>
                        </tr> -->

                        <tr *ngFor="let data of bindPortfolioAllocation_Total ; index as i"  >
                            <td style="width: 278px">{{data.Total }}</td>
                            <td style="width: 149px" class="price" >{{data.MarketValue }}</td>  
                            <td style="width: 86px">{{data.PerAsstes }}%</td>
                            
                         </tr>



                    </tfoot>
                </table>
            </div>
            <div id="portfolioSummary" class="col-sm-6 col-md-6 col-xs-6 p-0">
                <div class="col-sm-12 col-md-12 col-xs-12 p-0">
                 <span class="legal subHeading">Portfolio Summary</span>
            </div>
                 <table class="bankmasterTable" id="summary">
                      <tbody class="scrollbar">
                        <tr *ngFor="let data of bindPortfolioSummary ; index as i"  >
                            <td style="width: 250px">{{data.Heading }}</td>
                            <td style="width: 100px">{{data.Data }}</td>
                         </tr>
                         <!-- <tr>
                             <td style="width: 250px">Portfolio Inception Date</td>
                             <td style="width: 100px">1/1/2020 </td>
                         </tr>
                         <tr>
                             <td style="width: 250px">Net Capital In (+) / Out (-) </td>
                             <td style="width: 100px">2,497,336.02</td>
                         </tr>
                         <tr>
                            <td style="width: 250px">Realized Gain</td>
                            <td style="width: 100px" class="loss">-178,934.39 </td>
                        </tr>
                        <tr>
                            <td style="width: 250px">Unrealized Gain </td>
                            <td style="width: 100px" class="loss">-631,351.29</td>
                        </tr> -->
                     </tbody>
                    
                 </table>
             </div>

             <div class="col-sm-12 col-md-12 col-xs-12 p-0 mt-1" id="portfolioPerformance">
                <div class="col-sm-12 col-md-12 col-xs-12 p-0">
                 <span class="legal subHeading">Portfolio Performance</span>
            </div>
                 <table class="bankmasterTable" id="performance">
                     <thead>
                        <tr>
                             <th style="width: 250px">Period </th>
                             <th style="width: 100px">Portfolio</th>
                             <th style="width: 100px">NIFTY</th>
                             <th style="width: 100px">BSE500</th>
                         </tr>
                     </thead>
                     <tbody class="scrollbar">
                        <tr *ngFor="let data of bindPortfolioPerformance ; index as i"  >
                            <td style="width: 250px">{{data.Period }}%</td>
                            <td style="width: 100px">{{data.Portfolio }}%</td>
                            <td style="width: 100px">{{data.NIFTY }}%</td>  
                            <td style="width: 100px">{{data.BSE500 }}%</td>  
                         </tr>
                        <!-- <tr>
                            <td style="width: 250px">1 Month </td>
                            <td style="width: 100px" class="loss">-6.08 %</td>
                            <td style="width: 100px" class="profit">7.53 %</td>
                            <td style="width: 100px" class="profit">8.24%</td>
                        </tr>
                        <tr>
                            <td style="width: 250px">3 Month </td>
                            <td style="width: 100px" class="loss">-6.08 %</td>
                            <td style="width: 100px" class="profit">7.53 %</td>
                            <td style="width: 100px" class="profit">8.24%</td>
                        </tr>
                        <tr>
                            <td style="width: 250px">6 Month </td>
                            <td style="width: 100px" class="loss">-6.08 %</td>
                            <td style="width: 100px" class="profit">7.53 %</td>
                            <td style="width: 100px" class="profit">8.24%</td>
                        </tr>
                        <tr>
                            <td style="width: 250px">Since inception date 01/01/2020 </td>
                            <td style="width: 100px" class="loss">-6.08 %</td>
                            <td style="width: 100px" class="profit">7.53 %</td>
                            <td style="width: 100px" class="profit">8.24%</td>
                        </tr> -->
                     </tbody>
                     
                 </table>
             </div>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 p-0">
            <div class="col-sm-12 col-md-12 col-xs-12 p-0">
             <span class="legal subHeading">Report Disclosure Statement</span>
             <p style="font-size:10px"><strong>Method :</strong> &nbsp;
                Time weighted - Daily valuation method is used for rate of return calculation. Portfolio valuation is done on the date of any external cash flow with daily
                weighted cash flows. Periodic returns are geometrically linked. Total return includes realized and unrealized gains and income. Calculations are after
                deduction of transaction charges. Trade date accounting is used for calculations. Accrual accounting is used for fixed income securities. Market values of
                fixed income securities include accrued income. Accrual accounting is used for a dividend as of ex-dividend date.</p>
        </div>
            
         </div>
<!-- <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="paginationDiv">
            <span class="previousBtn">Previous</span>
            <span class="paginationCount">50 out of 200</span>
            <span class="nextBtn">Next</span>
        </div>
</div> -->

        </div>
        <div class="paginationDiv">
            <span class="previousBtn" (click)="PreviousClick()" *ngIf="btnPrev">Previous</span>
            <span class="paginationCount"  id="lblcount"></span>
            <span class="nextBtn" (click)="NextClick()" *ngIf="btnNext" >Next</span>
        </div>
        
            
    </div>
      

    </div>

</div>

