<div class="main-content maincontainer">
    <div class="content">

        <!-- <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>
        </div> -->

        <div class="col-md-12 col-sm-12 col-xs-12 loaderposition" *ngIf="isShowLoader" >
            <img src="../../assets/images/loader.gif" class="loaderimagepage" />
        </div>
        

        <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 <span class="legal"></span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">
                        <li (click)="downloadCSVFile($event)">
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Save"></i>
                            <label>
                                Export to Excel
                            </label>
                        </li> 
                        <!-- <li>
                            <i class="fa fa-download" aria-hidden="true" title="Save"></i>
                            <label>
                                Download Template
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-upload" aria-hidden="true" title="Upload User"></i>
                            <label>
                                Upload User
                            </label>
                        </li> -->
                        <li (click)="BackToSecurity()" [style.display]="showBackToSecurityList ? 'block' : 'none'">
                            <i title="View Securities"><img src="../assets/images/viewImg.png" style="width:14%; margin-top: -6px;" ></i>
                            <label>
                                Back To Securities
                            </label>
                        </li>
                        <li (click)="viewSecurities()" [style.display]="showviewSecurities ? 'block' : 'none'">
                            <i title="View Securities"><img src="../assets/images/viewImg.png" style="width:14%; margin-top: -6px;" ></i>
                            <label>
                                View Securities
                            </label>
                        </li>
                        <li (click)="onClickPMSEmploye($event)" [style.display]="showNew ? 'block' : 'none'" >
                            <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-5 col-sm-4 col-xs-4"></div>
        </div>
       
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" *ngIf="showGrid">
            <!-- <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div> -->

            <div class="filter">
                <input type="text" (change) = "SecurityMasterSearch($event)" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
             </div>
            
            
           <ag-grid-angular
    style="width: 100%; height: 450px;"
    class="ag-theme-alpine"
    [rowData]="securityDetails"
    [columnDefs]="columnDefs"
    [enableFilter]="true"
      [enableSorting]="true"
      [showToolPanel]="true"
      rowSelection="single"
      (cellClicked)="onRowSelected($event)" [pagination]="true" [paginationAutoPageSize]="true"
      (gridReady)="onGridReady($event)"
      >
      
</ag-grid-angular>
         <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- <div class="paginationDiv">
                    <span class="previousBtn">Previous</span>
                    <span class="paginationCount">50 out of 200</span>
                    <span class="nextBtn">Next</span>
                </div> -->
        </div>      
            
        </div>
        


        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" *ngIf="showSecurity">
            <!-- <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div> -->
            
            <div class="filter">
                <input type="text" (change) = "SecurityMasterDetailsSearch($event)" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
             </div>
           <ag-grid-angular
    style="width: 100%; height: 450px;"
    class="ag-theme-alpine"
    [rowData]="security"
    [columnDefs]="columnDefs1"
    [enableFilter]="true"
      [enableSorting]="true"
      [showToolPanel]="true" [pagination]="true" [paginationAutoPageSize]="true"
      (gridReady)="onGridReady1($event)"
      >
</ag-grid-angular>
<div class="col-md-12 col-sm-12 col-xs-12">
    <!-- <div class="paginationDiv">
            <span class="previousBtn">Previous</span>
            <span class="paginationCount">50 out of 200</span>
            <span class="nextBtn">Next</span>
        </div> -->
</div> 
            
        </div>
       

        <div class="modal" id="createuser" [style.display]="showModalSecurity ? 'block' : 'none'">
                <div class="modal-dialog">
                <div class="modal-content">
                
                    <button type="button" class="closeDiv" data-dismiss="modal" (click)="hidePMSEmploye()">&times;</button>
                
                
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
                        <div class="col-sm-12 col-md-12 col-xs-12 no-padding">
                            <h4 class="pageTitle">
                               Create Securities
                                 </h4>
            
                        </div>
                        <div class="rightmenu">
                            <div class="toolbar pull-right">
                                
                            </div>
                        </div>
                    </div>
                    
                        <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block">
                            <form [formGroup]="SecurityFormGrp" autocomplete="off" class="form" appNorightclick>
                                                    <div class="row no-padding mt-2">
                                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                        Country:
                                                                    </label>
                                                                    <div class="col-sm-8 col-md-8 col-xs-8 no-padding-left displayinlineblock">
                                                                            <!-- <select class="dropdown col-md-12 col-xs-12 col-sm-12">
                                                                            <option>Select Country</option>
                                                                            <option>India</option>
                                                                            <option>UAE</option>
                                                                            <option>USA</option>
                                                                                </select> -->
                                                                        
                                                                        <div class="form-group input-group" >
                                                                            <select class="col-md-12 col-xs-12 col-sm-12"  formControlName="CountryCode">
                                                                            <option value="0" selected>Select Country</option>
                                                                            <option *ngFor="let data of country" value={{data.CountryCode}}  >
                                                                                {{data.CountryName}}
                                                                            </option>
                                                                            </select>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Custodian:
                                                                </label>
                                                                 <div class="col-sm-8 col-md-8 col-xs-8 no-padding-left displayinlineblock">
                                                                    <!-- <select class="dropdown col-md-12 col-xs-12 col-sm-12">
                                                                        <option>Select Custodian</option>
                                                                        <option>CUS1</option>
                                                                        <option>CUS2</option>
                                                                        <option>CUS3</option>
                                                                        <option>CUS4</option>
                                                                        <option>CUS5</option>
                                                                    </select> -->
                                                               
                                                                    <div class="form-group input-group" >
                                                                        <select class="col-md-12 col-xs-12 col-sm-12"  formControlName="CustodianCode">
                                                                        <option value="0" selected>Select Custodian</option>
                                                                        <option *ngFor="let data of custodian" value={{data.CustodianCode}}  >
                                                                            {{data.CustodianName}}
                                                                        </option>
                                                                        </select>
                                                                    </div>
                                                                  </div> 
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    List Code:
                                                                </label>
                                                                <div class="col-sm-8 col-md-8 col-xs-8 no-padding-left displayinlineblock">
                                                                    <div class="form-group input-group" [ngClass]="displayFieldCss('ListCode')">
                                                                    <!-- <input type="text" name="UserName" class="col-sm-12 col-md-12 col-xs-12" /> -->
                                                                    <input type="text" required name="listCode" class="col-sm-12 col-md-12 col-xs-12" formControlName="ListCode"
                                                                    />
                                                                     </div>
                                                                           
                                                                </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                  List Name:
                                                                </label>
                                                                <div class="col-sm-8 col-md-8 col-xs-8 no-padding-left displayinlineblock">
                                                                    <!-- <input type="text"  class="col-sm-12 col-md-12 col-xs-12" /> -->
                                                                    <div class="form-group input-group" [ngClass]="displayFieldCss('ListName')">
                                                                        <!-- <input type="text" name="UserName" class="col-sm-12 col-md-12 col-xs-12" /> -->
                                                                        <input type="text" required name="listName" class="col-sm-12 col-md-12 col-xs-12" formControlName="ListName"
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Security Code:
                                                                </label>
                                                                <div class="col-sm-8 col-md-8 col-xs-8 no-padding-left displayinlineblock">
                                                                    <!-- <input type="text"  class="col-sm-12 col-md-12 col-xs-12" /> -->
                                                                    <div class="form-group input-group" [ngClass]="displayFieldCss('SecurityCode')">
                                                                        <!-- <select class="col-md-12 col-xs-12 col-sm-12" (change)="FillSecurityCodeDetails(selectField.value);" #selectField  formControlName="SecurityCode">
                                                                        <option value="0" selected>Select Security Code</option>
                                                                        <option *ngFor="let data of securityCodeDetails" value={{data.SecurityCode}}  >
                                                                            {{data.SecurityCode}}
                                                                        </option>
                                                                        </select> -->
                                                                        <input type="text" required name="securityCode" class="col-sm-12 col-md-12 col-xs-12" formControlName="SecurityCode"/>
                                                                    <!-- </div> -->

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                        
                                                        

                                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Security Name:
                                                                </label>
                                                                <div class="col-sm-8 col-md-8 col-xs-8 no-padding-left displayinlineblock">
                                                                    <!-- <input type="text"  class="col-sm-12 col-md-12 col-xs-12" /> -->
                                                                    <div class="form-group input-group" [ngClass]="displayFieldCss('SecurityName')">
                                                                        <input type="text" required name="securityName" class="col-sm-12 col-md-12 col-xs-12" formControlName="SecurityName"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 



                                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Sector:
                                                                </label>
                                                                <div class="col-sm-8 col-md-8 col-xs-8 no-padding-left displayinlineblock">
                                                                    <!-- <select class="dropdown col-md-12 col-xs-12 col-sm-12">
                                                                        <option>Select Sector</option>
                                                                        <option>Sector 1</option>
                                                                        <option>Sector 2</option>
                                                                    </select>  -->
                                                                    <div class="form-group input-group" >
                                                                        <select class="col-md-12 col-xs-12 col-sm-12"  formControlName="SectorCode">
                                                                        <option value="0" selected>Select Sector</option>
                                                                        <option *ngFor="let data of sector" value={{data.SectorCode}}  >
                                                                            {{data.SectorName}}
                                                                        </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        
                                                        <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Active:
                                                                </label>
                                                                <div class="col-sm-3 col-md-5 col-xs-3 no-padding-left displayinlineblock">
                                                                    <!-- <input type="checkbox"/> -->
                                                                    <input  name="active" formControlName="Active" value="" type="checkbox" class="col-md-1 col-sm-2 col-xs-4"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                                
                                                </div>
                                         </div>
                                                    </div>
                                </form>
                            </div>

                            <div class="downbtnposition">
                                    <button type="submit" (click)="onSubmit()" class="btn btn-success"> Save</button>
                                    </div>


                </div>
                
               
                
                </div>
                </div>
                </div>

    </div>

    <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">
       
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <p><span [innerHTML]="SuccessPopup"></span></p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
      
    </div>
        
        </div>
        </div>
        </div>
    


</div>

