<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                 <span class="legal"></span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">
                            <li>
                                    <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to Excel"></i>
                                    <label>
                                        Export to Excel
                                    </label>
                                </li>
                                <li (click)="onClickviewpms()" >
                                        <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                                        <label>
                                            New
                                        </label>
                                    </li>

                                    <!-- <li (click)="onClicksavepopup($event)" >
                                      
                                        <label>
                                            Popup
                                        </label>
                                    </li> -->
                         
                        
                     </ul>
                </div>
            </div>
        </div>
       
<div class="" id="tbldiv" *ngIf="Isdiv1">
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv"  >
            <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>    
              <ag-grid-angular
        style="width: 100%; height: 130px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [enableFilter]="false"
          [enableSorting]="true"
          [showToolPanel]="true">
    </ag-grid-angular>
               
                
            </div>
            <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="paginationDiv">
                            <span class="previousBtn">Previous</span>
                            <span class="paginationCount">50 out of 200</span>
                            <span class="nextBtn">Next</span>
                        </div>
               </div> -->
            </div>

        <div class="row" id="formdiv"*ngIf="Isdiv2">
            


            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="col-md-12 col-sm-12 col-xs-12 detailBox">
                 
              

   <div class="col-md-7 col-xs-12 col-sm-7 p-0"  style="display: inline-block;">
    <label class="lblradiobtnss col-md-1 col-sm-4 col-xs-6 p-0 User">
                                     <input name="Type" value="u" type="radio" (click)="onClickUser()"/>
                                     <span class="pl-2">User</span>
                                 </label>
                                 <label class="lblradiobtnss col-md-2 col-sm-6 col-xs-6 p-0 Administrator" *ngIf="IsAdmin">
                                     <input name="Type" value="a" type="radio" (click)="onClickAdmin()"/>
                                     <span class="pl-2">Administrator</span>
                                 </label>
       <label class="lblradiobtnss col-md-2 col-sm-4 col-xs-6 p-0 Customer">
                                     <input name="Type" value="u" type="radio" (click)="onClickCustomer()"/>
                                     <span class="pl-2">Customer</span>
                                 </label>
                                
       </div>

            <div class="form-group">
               <div class="col-md-12 col-xs-12 col-sm-4 p-0 mt-3 formfield">
                <div class="row">
                   
<div class="col-md-4 col-xs-12 col-sm-4 pr-0">
<label class="col-md-4 col-xs-12 col-sm-4 p-0">User ID:</label>
<input type="text"  class="col-md-7 col-xs-12 col-sm-7"  />

</div>
<div class="col-md-4 col-xs-12 col-sm-4">
<label class="col-md-4 col-xs-12 col-sm-4 p-0">Email:</label>

<input type="text" class="col-md-7 col-xs-12 col-sm-7" />
</div>
<div class="col-md-4 col-xs-12 col-sm-4">
<label class="col-md-4 col-xs-12 col-sm-4 p-0">Contact No.:</label>

<input type="text" class="col-md-7 col-xs-12 col-sm-7" />

</div>
                        </div>
</div>
              
                <div class="row mt-2 userdropdown">
<div class="col-md-8 col-xs-12 col-sm-4 pr-0 mt-4">
<label class="col-md-2 col-xs-12 col-sm-4 p-0">Company Selection:</label>

<select class="dropdown col-sm-7 col-md-10 col-xs-7">
    <option>Select Country</option>
    <option>Company 1</option>
   
</select>

</div>

                  <div class="row mt-2 customerdropdown" style="display:none">
<div class="col-md-12 col-xs-12 col-sm-4 pr-0 mt-4">
<label class="col-md-2 col-xs-12 col-sm-4 p-0">Customer Selection:</label>
<select class="dropdown col-sm-7 col-md-10 col-xs-7">
    <option>Select Country</option>
    <option>Customer 1</option>
   
</select>

</div>

</div>
</div>  
          

           </div>
               
</div>


       

 
          <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="IsShowAccessRight">
                <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #cbcfd2;">
    <h6 style="color: #003974;
    font-weight: bold;">Access Right</h6>
</div>
</div>

 
                 <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="col-md-12 col-sm-12 col-xs-12 detailBox">
                 
               
            <div class="form-group">
                <div class="row" *ngIf="IsShowMaster">
<div class="col-md-12 col-xs-12 col-sm-4 pr-0">
<label class="col-md-1 col-xs-12 col-sm-4 p-0">Master:</label>
   <div class="col-md-10 col-xs-12 col-sm-7"  style="display: inline-block;">
    <label class="lblradiobtnss col-md-2 col-sm-4 col-xs-6">
                                     <input name="Type" value="u" type="checkbox"/>
                                     <span class="pl-2">Create</span>
                                 </label>
                                 <label class="lblradiobtnss col-md-2 col-sm-6 col-xs-6">
                                     <input name="Type" value="a" type="checkbox"/>
                                     <span class="pl-2">Edit</span>
                                 </label>
       <label class="lblradiobtnss col-md-2 col-sm-4 col-xs-6">
                                     <input name="Type" value="u" type="checkbox"/>
                                     <span class="pl-2">View</span>
                                 </label>
                                 <label class="lblradiobtnss col-md-2 col-sm-6 col-xs-6">
                                     <input name="Type" value="a" type="checkbox"/>
                                     <span class="pl-2">Delete</span>
                                 </label>
       </div>
</div>

</div>
                <div class="row mt-2" *ngIf="IsShowReports">
<div class="col-md-12 col-xs-12 col-sm-4 pr-0 reportdropdown">
<label class="col-md-1 col-xs-12 col-sm-4 p-0">Reports:</label>
<div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
        <div class="chipsContainer" (click)="showDropDown($event)">
            <span class="dropDownIcon" [ngClass]="{'active': isDropDownVisible}"><i class="fa fa-caret-down" aria-hidden="true" style="color:#858585"></i></span>
            <ul>
              <li *ngFor="let city of selectedCitiesArray">{{city.name}}<span class="deleteCity"  (click)="removeCity(city.value)">X</span></li>
            </ul>
          </div>
          <div class="citiList" [hidden]="!isDropDownVisible">
            <div class="filterdropdown">
              <input placeholder="Search city" (input)="filterCities()" [(ngModel)]="searchValue">
            </div>
            <ul (click)="selectCity($event)">
              <li *ngFor="let city of filteredCitiesArray" [ngClass]="{'selected':city.selected}">
                <label>
                  <input type="checkbox" value="{{city.value}}" [checked]="city.selected">{{city.name}}
                </label>
              </li>
            </ul>
          </div>
    </div>

</div>

</div>
</div>  
          

           </div>
               
</div>

            
    </div>
    

    </div>


    <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
        <div class="modal-dialog">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">
       
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <p>Saved Successfully</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
      
    </div>
        
        </div>
        </div>
        </div>




</div>
</div>

