<div class="main-content maincontainer">
  <div class="content">
      <!-- <div class="col-md-12 col-sm-12 col-xs-12 mt-4" style="display:none">
          <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
              <img src="../../assets/images/loader.gif" class="loaderimagepage" />
          </div>
      </div> -->
        <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
            <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
                <img src="../../assets/images/loader.gif" class="loaderimagepage" />
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Scheme Master</span>           
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">
                        <li (click)="downloadCSVFile($event)">
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Save"></i>
                            <label>
                                Export to Excel
                            </label>
                        </li>
                        <!-- <li (click)="BackToCustodian()" >
                            <i title="View Custodian"><img src="../assets/images/viewImg.png" style="width:14%; margin-top: -6px;" ></i>
                            <label>
                                Back To SchemeMaster
                            </label>
                        </li> -->
                    <li (click)="onClickviewSchemaDetails()" [style.display]="showviewSchemeDetails? 'block' : 'none'">
                        <i class="fa fa-user" aria-hidden="true" title=" Customers"></i>
                        <label>
                       Customers
                        </label>
                    </li>
                        <!-- <li (click)="onClickupdatepopup()"> -->
                        <li (click)="onClickupdatepopup($event)" [style.display]="showNew ? 'block' : 'none'">
                            <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-5 col-sm-4 col-xs-4"></div>
        </div>
     
        <!-- <div class="col-md-12 col-sm-12 col-xs-12 tableDiv"> -->
          <!-- <div class="filter">
              <input type="text" placeholder="Search" />
              <i class="fa fa-search" aria-hidden="true"></i>
          </div> -->
        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" id="tbldiv"  *ngIf="Isdiv" style="display:block">
            <div class="filter">
                    <input type="text" (change) = "SchemeMasterSearch($event)" placeholder="Search" />
                    <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <!-- <div> -->
            <ag-grid-angular
                style="width: 100%; height: 430px;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [enableFilter]="true">
            </ag-grid-angular>
        </div>

      

   <!-- </div> -->
      
     
    <div class="modal successPopup" id="createuser" [style.display]="showModalupdatepopup ? 'block' : 'none'">
    <div class="modal-dialog model-lg">
        <div class="modal-content">
        
            <button type="button" class="closeDiv" data-dismiss="modal" (click)="hideupdatepopup()">&times;</button>
        
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
                <div class="col-sm-12 col-md-6 col-xs-12 no-padding">
                    <h4 class="pageTitle">
                        Scheme Master
                            </h4>
    
                </div>
                <div class="rightmenu">
                    <div class="toolbar pull-right">
                        
                    </div>
                </div>
            </div>
            
                <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block">
                    <form [formGroup]="SchemaMasterFormGrp" autocomplete="off" class="form" appNorightclick>
                                            <div class="row no-padding mt-2">
                                                <div class="col-md-12 col-sm-12 col-xs-12 p-0">

                                                  

                                             


                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-md-5 col-xs-6 control-label no-padding" for="form-field-1">
                                                            Scheme No.:
                                                        </label>
                                                        <div class="col-sm-6 col-md-7 col-xs-6 no-padding-left displayinlineblock">
                                                            <div class="form-group input-group" >
                                                            <input type="text" required name="schemaNumber" class="col-sm-12 col-md-12 col-xs-12" formControlName="SchemaNumber"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-md-5 col-xs-6 control-label no-padding" for="form-field-1">
                                                            Scheme Name:
                                                        </label>
                                                        <div class="col-sm-6 col-md-7 col-xs-6 no-padding-left displayinlineblock">
                                                            <div class="form-group input-group" >
                                                            <input type="text" required name="schemaNumber" class="col-sm-12 col-md-12 col-xs-12" formControlName="SchemaNumber"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-md-5 col-xs-6 control-label no-padding" for="form-field-1">
                                                            Description:
                                                        </label>
                                                        <div class="col-sm-6 col-md-7 col-xs-6 no-padding-left displayinlineblock">
                                                            <div class="form-group input-group" >
                                                                <textarea id="w3review" name="w3review" rows="4" cols="50" style="width: 100%;">
                                                                    </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               <div class="col-md-12 col-xs-12 col-sm-12 p-0">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-md-5 col-xs-6 control-label no-padding" for="form-field-1">
                                                            Securities:
                                                        </label>
                                                        <div class="col-sm-6 col-md-7 col-xs-6 no-padding-left displayinlineblock">
                                                            <!-- <div class="form-group input-group" >
                                                                    <input type="text"   class="col-sm-12 col-md-12 col-xs-12" />
                                                                </div> -->
                                                            <select class="dropdown col-sm-12 col-md-12 col-xs-12">
                                                                <option value="" selected>Select</option>
                                                                <option value="">Securities 1</option>
                                                                <option value="">Securities 2</option>
                                                                <option value="">Securities 3</option>
                                                            </select>

                                                         
                                                        </div>
                                                        <span class="plusicon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                                

                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-md-5 col-xs-6 control-label no-padding" for="form-field-1">
                                                            Sector:
                                                        </label>
                                                        <div class="col-sm-6 col-md-7 col-xs-6 no-padding-left displayinlineblock">
                                                            <select class="dropdown col-sm-12 col-md-12 col-xs-12">
                                                                <option value="" selected>Select</option>
                                                                <option value="">Sector 1</option>
                                                                <option value="">Sector 2</option>
                                                                <option value="">Sector 3</option>
                                                            </select>

                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                
                                                        
                                                    </div>
                                                </div>
                            
                        </form>
                    </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success">Save</button>  -->
        <button type="submit" (click)="onSubmit()" class="btn btn-success"> Create</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-success"> Expire</button>
        
        
        </div>
        
        </div>
        </div>
    </div>
     

    <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">
        
        </h4>
        <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
            <div class="col-sm-12 col-md-12 col-xs-12 no-padding">
                <h4 class="pageTitle" style="text-align: center;">
                   Customers
                        </h4>

            </div>
         
        </div>
        <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>

        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         
            <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" id="tbldiv1" style="display:block">
                <!-- <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
                </div> -->
                <div class="filter">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search" aria-hidden="true"></i>
                </div>
    
            <ag-grid-angular
                    style="width: 100%; height: 300px;"
                    class="ag-theme-alpine"
                    [rowData]="rowData1"
                    [columnDefs]="columnDefs1"
                    [enableFilter]="true" 
                    >
                </ag-grid-angular>
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button> -->
    
    </div>
        
        </div>
        </div>
    </div>  

  </div>

</div>


