<div class="main-content maincontainer">
  <div class="content">
    <div class="col-md-12 col-sm-12 col-xs-12 mt-4" *ngIf="isShowLoader">
      <div class="col-md-12 col-sm-12 col-xs-12 loaderposition">
          <img src="../../assets/images/loader.gif" class="loaderimagepage" />
      </div>
    </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
          <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
               <span class="legal">Auto Report Request</span>
          </div>
          <div class="rightmenu">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content">
                     
                   
                   </ul>
              </div>
          </div>
      </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
          
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 mt-2 divscroll">  
              <div class="seconddivscroll" style="display:block;">
                <div class="row">
                  <div class="col-sm-10 col-md-12 col-xs-10">
                    <div class="emailTitle">

                      <input class="filterInput" placeholder="Filter" type="text" id="txtSearch" (keyup)="bindData()">
                      <div class="alphaSorting">
                          <span>
                              <i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                          </span>
                          <span class="alphabet"><span class="alphaA">A</span><span class="alphaZ">Z</span></span>
                      </div>
                    </div>

                    <div class="roleTitle roleHead ">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Daily
                      </label>
                    </div>
                    <div class="roleTitle roleHead ">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Monthly
                      </label>
                    </div>
                    <div class="roleTitle roleHead">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Quaterly
                      </label>
                    </div>
                    <div class="roleTitle roleHead">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Half Yearly
                      </label>
                    </div>
                    <div class="roleTitle roleHead">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Yearly</label>
                    </div>
                   

                  </div>
                </div>
        <div class="roleDiv">
          <div class="row mt-2">
            <div class="col-sm-10 col-md-12 col-xs-10">
              <div class="emailTitle">
                <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="4">Portfolio Appraisal</label>
              </div>

              <div class="roleTitle">
                <span class="btnred" id="4_1" (click)="PortfolioAppraisal1($event)">Daily</span>
             </div>
              <div class="roleTitle">
               <span class="btnred" id="4_2" (click)="PortfolioAppraisal2($event)">Monthly</span>
             </div>
              <div class="roleTitle">
                <span class="btnred" id="4_3" (click)="PortfolioAppraisal3($event)">Quarterly</span>
              </div>
              <div class="roleTitle">
                <span class="btnred" id="4_4" (click)="PortfolioAppraisal4($event)">Half Yearly</span>
              </div>

              <div class="roleTitle">
                <span class="btnred" id="4_5" (click)="PortfolioAppraisal5($event)">Yearly</span>
              </div>
            </div>
         </div>

               <div class="row mt-2">
                  <div class="col-sm-10 col-md-12 col-xs-10">
                    <div class="emailTitle">
                      <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="3">Performance Appraisal</label>
                    </div>
                    <div class="roleTitle">
                      <span class="btnred" id="3_1" (click)="PerformanceAppraisal1($event)">Daily</span>
                   </div>
                    <div class="roleTitle">
                     <span class="btnred" id="3_2" (click)="PerformanceAppraisal2($event)">Monthly</span>
                   </div>
                    <div class="roleTitle">
                      <span class="btnred" id="3_3" (click)="PerformanceAppraisal3($event)">Quarterly</span>
                    </div>
                    <div class="roleTitle">
                      <span class="btnred" id="3_4" (click)="PerformanceAppraisal4($event)">Half Yearly</span>
                    </div>
      
                    <div class="roleTitle">
                      <span class="btnred" id="3_5" (click)="PerformanceAppraisal5($event)">Yearly</span>
                    </div>
                   
                  </div>
               </div>


 <div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="5">Portfolio Fact Sheet</label>
  </div>
 

  <div class="roleTitle">
    <span class="btnred" id="5_1" (click)="PortfolioFactSheet1($event)">Daily</span>
 </div>
  <div class="roleTitle">
   <span class="btnred" id="5_2" (click)="PortfolioFactSheet2($event)">Monthly</span>
 </div>
  <div class="roleTitle">
    <span class="btnred" id="5_3" (click)="PortfolioFactSheet3($event)">Quarterly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="5_4" (click)="PortfolioFactSheet4($event)">Half Yearly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="5_5" (click)="PortfolioFactSheet5($event)">Yearly</span>
  </div>
 
</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="2">Current Portfolio</label>
  </div>

  <div class="roleTitle">
    <span class="btnred" id="2_1" (click)="CurrentPortfolio1($event)">Daily</span>
 </div>
  <div class="roleTitle">
   <span class="btnred" id="2_2" (click)="CurrentPortfolio2($event)">Monthly</span>
 </div>
  <div class="roleTitle">
    <span class="btnred" id="2_3" (click)="CurrentPortfolio3($event)">Quarterly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="2_4" (click)="CurrentPortfolio4($event)">Half Yearly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="2_5" (click)="CurrentPortfolio5($event)">Yearly</span>
  </div>
</div>
</div>



<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="7">Statement Dividend</label>
  </div>

  <div class="roleTitle">
    <span class="btnred" id="7_1" (click)="StatementofDividend1($event)">Daily</span>
 </div>
  <div class="roleTitle">
   <span class="btnred" id="7_2" (click)="StatementofDividend2($event)">Monthly</span>
 </div>
  <div class="roleTitle">
    <span class="btnred" id="7_3" (click)="StatementofDividend3($event)">Quarterly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="7_4" (click)="StatementofDividend4($event)">Half Yearly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="7_5" (click)="StatementofDividend5($event)">Yearly</span>
  </div>

</div>
</div>



<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="1">Bank Book</label>
  </div>

  
  <div class="roleTitle">
    <span class="btnred" id="1_1" (click)="BANKBOOK1($event)">Daily</span>
 </div>
  <div class="roleTitle">
   <span class="btnred" id="1_2" (click)="BANKBOOK2($event)">Monthly</span>
 </div>
  <div class="roleTitle">
    <span class="btnred" id="1_3" (click)="BANKBOOK3($event)">Quarterly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="1_4" (click)="BANKBOOK4($event)">Half Yearly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="1_5" (click)="BANKBOOK5($event)">Yearly</span>
  </div>
</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="6">Statement of Capital Gain/Loss</label>
  </div>

  <div class="roleTitle">
    <span class="btnred" id="6_1" (click)="StatementofCapital1($event)">Daily</span>
 </div>
  <div class="roleTitle">
   <span class="btnred" id="6_2" (click)="StatementofCapital2($event)">Monthly</span>
 </div>
  <div class="roleTitle">
    <span class="btnred" id="6_3" (click)="StatementofCapital3($event)">Quarterly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="6_4" (click)="StatementofCapital4($event)">Half Yearly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="6_5" (click)="StatementofCapital5($event)">Yearly</span>
  </div>

</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="8">Statement of Expenses</label>
  </div>

  <div class="roleTitle">
    <span class="btnred" id="8_1" (click)="StatementofExpenses1($event)">Daily</span>
 </div>
  <div class="roleTitle">
   <span class="btnred" id="8_2" (click)="StatementofExpenses2($event)">Monthly</span>
 </div>
  <div class="roleTitle">
    <span class="btnred" id="8_3" (click)="StatementofExpenses3($event)">Quarterly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="8_4" (click)="StatementofExpenses4($event)">Half Yearly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="8_5" (click)="StatementofExpenses5($event)">Yearly</span>
  </div>

</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle" id="9">Transaction Statement</label>
  </div>

  <div class="roleTitle">
    <span class="btnred" id="9_1" (click)="TransactionStatement1($event)">Daily</span>
 </div>
  <div class="roleTitle">
   <span class="btnred" id="9_2" (click)="TransactionStatement2($event)">Monthly</span>
 </div>
  <div class="roleTitle">
    <span class="btnred" id="9_3" (click)="TransactionStatement3($event)">Quarterly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="9_4" (click)="TransactionStatement4($event)">Half Yearly</span>
  </div>
  <div class="roleTitle">
    <span class="btnred" id="9_5" (click)="TransactionStatement5($event)">Yearly</span>
  </div>

</div>
</div>


                
              </div>
              </div>
              <!-- <div class="paginationDiv">
                <span class="previousBtn" >Previous</span>
                <span class="paginationCount">2</span>
                <span class="nextBtn" >Next</span>
            
              </div> -->
        </div>
      </div>
      
    </div>
    <div class="btnDiv">
      <!-- <input type="button" class="btn btn-success mr-2" value="Submit"/> -->
      <button type="submit" (click)="onSubmit()" class="btn btn-success"> Submit</button>
       <!-- <input type="button" class="btn btn-success mr-2" value="Discard"/> -->
       </div>

       <div class="modal successPopup" id="myModal" [style.display]="showModalsavepopup ? 'block' : 'none'">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">
       
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hidesavepopup()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <p><span [innerHTML]="message"></span></p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hidesavepopup()">Ok</button>
      
    </div>
        
        </div>
        </div>
</div>
  </div>
</div>