.maincontainer{ position: relative;
    float:left;
    width: 88%;}
   
    .checkboxmrg{
        margin: 8px auto;
        /* text-align: center; */
        display: block;
    }
.roleTitle{ display: inline-block;
    width: 13%;
    vertical-align: top;
    text-align: center;
    position: relative;
    height: 36px;}
.emailTitle{max-width: 21%; width: 21%; display: inline-block; position:relative}
    .btngreen{     background-color: #b6debc;
        border: none;
        /* padding: 5px 10px 5px 10px; */
        border-radius: 2px;
        color: #003974;
        font-weight: bold;
        width: 54%;
        display: inline-block;
        height: 30px;
        border-top: 3px solid #78b181;padding-top: 5px;}
.alphaSorting{right: 2px;
    width: 28px;
    cursor: pointer;
    position: absolute;
    color: #003974;
    font-size: 16px;
    display: inline-block;
    padding-left: 4px;
    overflow: hidden;
    top: 3px;}
    .alphaSorting:hover{ background: #e8e4e4;
        border-radius: 2px;
        border: 1px solid #ddd;}
    .alphabet{position: relative;
        font-size: 10px;
        font-weight: bold;
        height: 20px;
        display: inline-block;}
    .alphaA{ position: absolute; top:0}
    .alphaZ{ position: absolute; bottom:-6px}
.filterInput{ width: 87% !important;}
/*.roleDiv{ overflow: auto;
overflow-x: hidden;
max-height: 500px;}*/

.rolesList{ display:none; position: absolute;
    left: 3%;
    background: #ecf3ed;
    width: 166px;
    text-align: left;
    padding-left: 15px;
    top: 87%;
    box-shadow: 0px 1px 2px 1px #ccc5c5;
    z-index: 999;}
.rolesList ul{ list-style:none}
.roleTitle:hover .rolesList{ display:inline-block;}
    .btnred{
        background-color: #f3b8b8;
        border: none;
        width: 54%;
        height: 30px;
        border-radius: 2px;
        color: #003974;
        font-weight: bold;
        display: inline-block;
        border-top: 3px solid #e06b6b;padding-top: 5px;}
.roleHead{padding-bottom: 7.5px;
    border-bottom: 1px solid #dadee2;}
.boxstyle{ border: 1px solid #cdcdcd;
    padding: 7px 0px 7px 5px;
    background-color: #f7f7f7;
    border-radius: 2px;}

    input[type=text]{
        width: 100%;
        border-radius: 2px !important;
    }
    .btnDiv{position: absolute;
        bottom: 10px;
        right: 15px;}
.paginationDiv {
            bottom: -26px;
        }
        @media only screen and (max-device-width :1100px) and (min-device-width : 769px) {
            .emailTitle {
                max-width: 21%;
                width: 21%;
                display: inline-block;
                position: relative;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis!important; 
        }  
        .emailTitle label{font-size:10px !important;}
           
            .filterInput {
                width: 74% !important;
            }

           .roleHead label{
                Font-size:9px !important;
                padding:0px !important;
            }
              .roleTitle label{ Font-size:9px !important;
            padding:0px !important;}
              .btngreen{     background-color: #b6debc;
                border: none;
               
                border-radius: 2px;
                color: #003974;
                font-weight: bold;
                width: 54%;
                line-height: 13px;
                display: inline-block;
                height: 30px;
                border-top: 3px solid #78b181;
                overflow: hidden;
            text-overflow: ellipsis;}  
            .roleTitle{
                display: inline-block;
                width: 13%;
                vertical-align: top;
                text-align: center;
                position: relative;
                height: 41px !important;
            }
        }

          
        @media only screen and (max-device-width : 768px) and (min-device-width : 451px) {
            .emailTitle {
                max-width: 21%;
                width: 21%;
                display: inline-block;
                position: relative;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis!important; 
        }  
        .roleTitle{
            display: inline-block;
            width: 13%;
            vertical-align: top;
            text-align: center;
            position: relative;
            height: 41px !important;
        }
        .emailTitle label{font-size:10px !important;}
          
            .filterInput {
                width: 53% !important;
            }

           .roleHead label{
                Font-size:9px !important;
            }
              .roleTitle label{ Font-size:9px !important;}
                .btngreen{     background-color: #b6debc;
            border: none;
           
            border-radius: 2px;
            color: #003974;
            font-weight: bold;
            width: 54%;
            line-height: 13px;
            display: inline-block;
            height: 30px;
            border-top: 3px solid #78b181;
            overflow: hidden;
        text-overflow: ellipsis;}  
    }
         

        @media only screen and (max-device-width : 767px) {   
            .maincontainer{width:100% !important}  
           }
          
        @media only screen and (max-device-width : 450px) and (min-device-width : 320px) {
          
               .divscroll{
                overflow-x: scroll;
                overflow-y: hidden;
                display: block;
                width: 381px;
            }
            .seconddivscroll{
                display: block; 
                width: 748px;
            }
            .filterInput {
                width: 53% !important;
            }

           .roleHead label{
                Font-size:9px !important;
            }
              .roleTitle label{ Font-size:9px !important;}

              .emailTitle {
                max-width: 21%;
                width: 21%;
                display: inline-block;
                position: relative;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis!important; 
        }  
        .btngreen{     background-color: #b6debc;
            border: none;
           
            border-radius: 2px;
            color: #003974;
            font-weight: bold;
            width: 54%;
            line-height: 13px;
            display: inline-block;
            height: 30px;
            border-top: 3px solid #78b181;
            overflow: hidden;
        text-overflow: ellipsis;}  
    }