<div class="main-content maincontainer">
  <div class="content">
      <div class="col-md-12 col-sm-12 col-xs-12 contnt-wrapper">
          <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
               <span class="legal">Auto Report Request</span>
          </div>
          <div class="rightmenu">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content">
                     
                   
                   </ul>
              </div>
          </div>
      </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
          
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 mt-2 divscroll">  
              <div class="seconddivscroll" style="display:block;">
                <div class="row">
                  <div class="col-sm-10 col-md-12 col-xs-10">
                    <div class="emailTitle">

                      <input class="filterInput" placeholder="Filter" type="text" id="txtSearch" (keyup)="bindData()">
                      <div class="alphaSorting">
                          <span>
                              <i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                          </span>
                          <span class="alphabet"><span class="alphaA">A</span><span class="alphaZ">Z</span></span>
                      </div>
                    </div>
                    <div class="roleTitle roleHead ">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Monthly
                      </label>
                    </div>
                    <div class="roleTitle roleHead">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Quaterly
                      </label>
                    </div>
                    <div class="roleTitle roleHead">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Half Yearly
                      </label>
                    </div>
                    <div class="roleTitle roleHead">

                      <label class="col-sm-10 col-md-12 col-xs-10 control-label text-center"> Yearly</label>
                    </div>
                   

                  </div>
                </div>
        <div class="roleDiv">
          <div class="row mt-2">
            <div class="col-sm-10 col-md-12 col-xs-10">
              <div class="emailTitle">
                <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Portfolio Appraisal</label>
              </div>
              <div class="roleTitle">
                
              <span class="btnred">No</span>
                  
                  <div class="rolesList">
                          <ul>
                              <li></li>
                              


                          </ul>

                  </div>
                  
              </div>

              <div class="roleTitle">
                
                <span class="btnred">No</span>
                  
                  <div class="rolesList">
                          <ul>
                              <li></li>
                              


                          </ul>

                  </div>
                  
              </div>
              <div class="roleTitle">
                
                <span class="btngreen">Yes</span>
                  
                  <div class="rolesList">
                          <ul>
                              <li></li>
                              


                          </ul>

                  </div>
                  
              </div>

              <div class="roleTitle">
                
                <span class="btnred">No</span>
                  
                  <div class="rolesList">
                          <ul>
                              <li></li>
                              


                          </ul>

                  </div>
                  
              </div>
            </div>
         </div>

               <div class="row mt-2">
                  <div class="col-sm-10 col-md-12 col-xs-10">
                    <div class="emailTitle">
                      <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Performance Appraisal</label>
                    </div>
                    <div class="roleTitle">
                      
                    <span class="btnred">No</span>
                        
                        <div class="rolesList">
                                <ul>
                                    <li></li>
                                    


                                </ul>

                        </div>
                        
                    </div>

                    <div class="roleTitle">
                      
                      <span class="btnred">No</span>
                        
                        <div class="rolesList">
                                <ul>
                                    <li></li>
                                    
  
  
                                </ul>
  
                        </div>
                        
                    </div>
                    <div class="roleTitle">
                      
                      <span class="btngreen">Yes</span>
                        
                        <div class="rolesList">
                                <ul>
                                    <li></li>
                                    
  
  
                                </ul>
  
                        </div>
                        
                    </div>

                    <div class="roleTitle">
                      
                      <span class="btnred">No</span>
                        
                        <div class="rolesList">
                                <ul>
                                    <li></li>
                                    
  
  
                                </ul>
  
                        </div>
                        
                    </div>
                  </div>
               </div>


 <div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Portfolio Fact Sheet</label>
  </div>
 

<div class="roleTitle">
                    
  <span class="btnred">No</span>
     
     <div class="rolesList">
             <ul>
                 <li></li>
                 


             </ul>

     </div>
     
 </div>

 <div class="roleTitle">
   
   <span class="btnred">No</span>
      
      <div class="rolesList">
              <ul>
                  <li></li>
                  


              </ul>

      </div>
      
  </div>
  <div class="roleTitle">
   
   <span class="btngreen">Yes</span>
      
      <div class="rolesList">
              <ul>
                  <li></li>
                  


              </ul>

      </div>
      
  </div>

  <div class="roleTitle">
   
   <span class="btnred" >No</span>
      
      <div class="rolesList">
              <ul>
                  <li></li>
                  


              </ul>

      </div>
      
  </div>

</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Current Portfolio</label>
  </div>
  <div class="roleTitle">
                    
    <span class="btnred" >No</span>
       
       <div class="rolesList">
               <ul>
                   <li></li>
                   


               </ul>

       </div>
       
   </div>

   <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>
    <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

    <div class="roleTitle">
     
     <span class="btngreen" >Yes</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

</div>
</div>



<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Statement Dividend</label>
  </div>
  <div class="roleTitle">
                    
    <span class="btngreen">Yes</span>
       
       <div class="rolesList">
               <ul>
                   <li></li>
                   


               </ul>

       </div>
       
   </div>

   <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>
    <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

    <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

</div>
</div>



<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Bank Book</label>
  </div>
 
  <div class="roleTitle">
                    
    <span class="btnred" >No</span>
       
       <div class="rolesList">
               <ul>
                   <li></li>
                   


               </ul>

       </div>
       
   </div>

   <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>
    <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

    <div class="roleTitle">
     
     <span class="btngreen">Yes</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Statement of Capital Gain/Loss</label>
  </div>
  <div class="roleTitle">
                    
    <span class="btngreen">Yes</span>
       
       <div class="rolesList">
               <ul>
                   <li></li>
                   


               </ul>

       </div>
       
   </div>

   <div class="roleTitle">
     
     <span class="btnred">No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>
    <div class="roleTitle">
     
     <span class="btnred">No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

    <div class="roleTitle">
     
     <span class="btnred">No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>



</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Statement of Expenses</label>
  </div>
  <div class="roleTitle">
                    
    <span 
    class="btnred" >No</span>
       
       <div class="rolesList">
               <ul>
                   <li></li>
                   


               </ul>

       </div>
       
   </div>

   <div class="roleTitle">
     
     <span 
     class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>
    <div class="roleTitle">
     
     <span 
     class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

    <div class="roleTitle">
     
     <span 
     class="btngreen">Yes</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

</div>
</div>


<div class="row mt-2">
  <div class="col-sm-10 col-md-12 col-xs-10">
    <div class="emailTitle">
    <label class="col-sm-10 col-md-12 col-xs-10 control-label boxstyle">Transaction Statement</label>
  </div>
  
  <div class="roleTitle">
                    
    <span class="btnred" >No</span>
       
       <div class="rolesList">
               <ul>
                   <li></li>
                   


               </ul>

       </div>
       
   </div>

   <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>
    <div class="roleTitle">
     
     <span class="btngreen">Yes</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

    <div class="roleTitle">
     
     <span class="btnred" >No</span>
        
        <div class="rolesList">
                <ul>
                    <li></li>
                    


                </ul>

        </div>
        
    </div>

</div>
</div>


                
              </div>
              </div>
              <div class="paginationDiv">
                <span class="previousBtn" >Previous</span>
                <span class="paginationCount">2</span>
                <span class="nextBtn" >Next</span>
            
              </div>
        </div>
      </div>
      
    </div>
    <div class="btnDiv">
      <input type="button" class="btn btn-success mr-2" value="Save"/>
       <input type="button" class="btn btn-success mr-2" value="Discard"/>
       </div>
  </div>
</div>