.canvasjs-chart-credit{display:none !important}
.canvasjs-chart-canvas{position:absolute; top:10px !important}
h5{ color: #003974;
    font-weight: bold;
    text-align: center;}
.iconBox{
        width: 90px;
        position: absolute;
        right: 10px;
        z-index: 9999;
        top: 12px;
        border: 1px solid #9bb2ca;}
.iconBox span{width:33%; display:inline-block; text-align: center;  padding: 2px 5px 1px 5px; cursor:pointer !important}
.iconBox span:first-child, .iconBox span:nth-child(2){border-right:1px solid #9bb2ca}
.iconBox span i{  color: #003974;
    font-size: 15px;}
.report{color: #003974;
    padding: 3px 5px;
}
.report input{ vertical-align: sub;color: #003974;}
.ng-star-inserted{z-index:9999}