<div class="main-content maincontainer">
    <div class="content">
        <form [formGroup]="Datanalysis" autocomplete="off">
       <div class="row">
           <div *ngIf="Employeeshowhid" class="col-md-4 col-sm-4 col-xs-4 p-0 selectDate mt-2 pl-5">
               <div class="form-group">
                   <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                      Employee Name:
                   </label>
                    
                   <div class="col-sm-8 col-md-8 col-xs-8 pl-0 displayinlineblock">
                    <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="Employeename" #Employeename
                    [ngClass]="displayFieldCss('Employeename')" (change)="ValueAssign(Employeename.value)" [attr.disabled]="EmployeeCodedesabled ? '' : null"
                    >
                    <option selected value="">Select</option>
                    <option *ngFor="let Employee of Table;index as i" value={{Employee.PMSEmpId}} >
                        {{Employee.EmployeeName}}                                                                                
                    </option>
                                       -->
                    </select>
                      
                   </div>
               </div>
           </div>

           <div *ngIf="Customershowhid" class="col-md-4 col-sm-4 col-xs-4 p-0 selectDate mt-2 pl-5">
            <div class="form-group">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                   Customer Name:
                </label>
                 
                <div class="col-sm-8 col-md-8 col-xs-8 pl-0 displayinlineblock">
                 <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="CustomerName"
                 [ngClass]="displayFieldCss('CustomerName')" [attr.disabled]="CustomerCodedesabled ? '' : null"
                 >
                 <option selected value="">Select</option>
                 <option *ngFor="let Customer of Customercodearray;index as i" value={{Customer.CustId}} >
                    {{Customer.CustomerName}}                                                                                
                </option>
                 </select>
                   
                </div>
            </div>
        </div>


           <div class="col-md-8 col-sm-8 col-xs-8 mt-2">
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">
                       
                        <li (click)="Generate_click()">  
                            <i class="fa fa-pencil-square-o" aria-hidden="true" title="Generate"></i>
                            <label>
                                Generate
                            </label>
                        </li>
                         
                        
                     </ul>
                </div>
            </div>
           </div>
          
           <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Date:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 pl-0 displayinlineblock dateSelect">
                    <input type="text" id="txtDateRangePicker" [ngClass]="displayFieldCss('DateRangePicker')"  formControlName="DateRangePicker" placeholder="Select Date" class="form-control" bsDaterangepicker >
            
                </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Report:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 p-0 displayinlineblock">
                    <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="Report"
                    [ngClass]="displayFieldCss('CustomerName')" 
                    >
                    <option selected value="">Select</option>
                    <option *ngFor="let ReportLink of Table2;index as i" value={{ReportLink.LinkID}} >
                        {{ReportLink.LinkName}}                                                                                
                    </option>                   
                    </select>
                </div>
            </div>
            </div>
            
              
               <div class="iconBox">
                   <span (click)="showPie()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie ? 'block' : 'none'">
                   <div id="chartContainer1" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart ? 'block' : 'none'">
                       <div id="chartContainer" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="rowData"
           [columnDefs]="columnDefs"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Date:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 pl-0 displayinlineblock dateSelect">
                    <input type="text" id="txtDateRangePicker1" [ngClass]="displayFieldCss('DateRangePicker1')"   formControlName="DateRangePicker1" placeholder="Select Date" class="form-control" bsDaterangepicker >
            
                </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Report:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 p-0 displayinlineblock">
                    <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="Report1"
                    [ngClass]="displayFieldCss('Report1')" 
                    >
                    <option selected value="">Select</option>
                    <option *ngFor="let ReportLink of Table2;index as i" value={{ReportLink.LinkID}} >
                        {{ReportLink.LinkName}}                                                                                
                    </option>      
                    </select>
                </div>
            </div>
            </div>
            
               <div class="iconBox">
                   <span (click)="showPie1()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid1()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart1()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie1 ? 'block' : 'none'">
                   <div id="chartContainer2" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart1 ? 'block' : 'none'">
                       <div id="chartContainer3" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid1"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="rowData1"
           [columnDefs]="columnDefs1"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
            
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Date:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 pl-0 displayinlineblock dateSelect">
                    <input type="text" id="txtDateRangePicker2"  formControlName="DateRangePicker2" [ngClass]="displayFieldCss('DateRangePicker2')" placeholder="Select Date" class="form-control" bsDaterangepicker >
            
                </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Report:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 p-0 displayinlineblock">
                    <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="Report2"
                    [ngClass]="displayFieldCss('Report2')" 
                    >
                    <option selected value="">Select</option>
                    <option *ngFor="let ReportLink of Table2;index as i" value={{ReportLink.LinkID}} >
                        {{ReportLink.LinkName}}                                                                                
                    </option>      
                    </select>
                </div>
            </div>
            </div>
               <div class="iconBox">
                   <span (click)="showPie2()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid2()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart2()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie2 ? 'block' : 'none'">
                   <div id="chartContainer4" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart2 ? 'block' : 'none'">
                       <div id="chartContainer5" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid2"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="rowData2"
           [columnDefs]="columnDefs2"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>

           <div class="col-md-6 col-sm-6 col-xs-12">
          
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Date:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 pl-0 displayinlineblock dateSelect">
                    <input type="text" id="txtDateRangePicker3"  formControlName="DateRangePicker3" [ngClass]="displayFieldCss('DateRangePicker3')"  placeholder="Select Date" class="form-control" bsDaterangepicker >
            
                </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <label class="col-sm-4 col-md-4 col-xs-4 control-label pl-0" for="form-field-1">
                    <span class="pull-right">Select Report:</span>
                 </label>
                 <div class="col-sm-8 col-md-8 col-xs-8 p-0 displayinlineblock">
                    <select class="dropdown col-sm-12 col-md-12 col-xs-12" formControlName="Report3"
                    [ngClass]="displayFieldCss('Report3')" 
                    >
                    <option selected value="">Select</option>
                    <option *ngFor="let ReportLink of Table2;index as i" value={{ReportLink.LinkID}} >
                        {{ReportLink.LinkName}}                                                                                
                    </option>      
                    </select>
                </div>
            </div>
            </div>
               <div class="iconBox">
                   <span (click)="showPie3()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid3()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart3()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie3 ? 'block' : 'none'">
                   <div id="chartContainer6" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart3 ? 'block' : 'none'">
                       <div id="chartContainer7" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid3"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="rowData3"
           [columnDefs]="columnDefs3"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>
       </div>
        </form>
                
          
                           


             
   </div>

</div>
