<div class="main-content maincontainer">
    <div class="content">
       <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12 mt-3 pl-5">
               <span class="report "><strong> Select Reports:</strong></span>
               <span class="report"><input type="checkbox" checked/> Transaction Statement</span>
               <span class="report"><input type="checkbox" checked/> Bank Book</span>
               <span class="report"><input type="checkbox" checked/> Statement of Expenses</span>
               <span class="report"><input type="checkbox" checked/> Statement of Dividend</span>

               <span class="report"><input type="checkbox" /> Trial Balance Report</span>
               <span class="report"><input type="checkbox" /> NAV Report</span>
               <span class="report"><input type="checkbox" /> Portfolio</span>
               <span class="report"><input type="checkbox" /> Cash Equivalent</span>
              
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
               <h5>Transaction Statement</h5>
               <div class="iconBox">
                   <span (click)="showPie()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie ? 'block' : 'none'">
                   <div id="chartContainer1" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart ? 'block' : 'none'">
                       <div id="chartContainer" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="rowData"
           [columnDefs]="columnDefs"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
               <h5>Bank Book</h5>
               <div class="iconBox">
                   <span (click)="showPie1()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid1()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart1()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie1 ? 'block' : 'none'">
                   <div id="chartContainer2" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart1 ? 'block' : 'none'">
                       <div id="chartContainer3" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid1"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="rowData1"
           [columnDefs]="columnDefs1"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
               <h5>Statement of Expenses</h5>
               <div class="iconBox">
                   <span (click)="showPie2()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid2()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart2()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie2 ? 'block' : 'none'">
                   <div id="chartContainer4" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart2 ? 'block' : 'none'">
                       <div id="chartContainer5" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid2"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="statementOfExpenses_DataAnalysic"
           [columnDefs]="columnDefs2"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>

           <div class="col-md-6 col-sm-6 col-xs-12">
               <h5>Statement of Dividend</h5>
               <div class="iconBox">
                   <span (click)="showPie3()"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                   <span (click)="showGrid3()"><i class="fa fa-th" aria-hidden="true"></i></span>
                   <span (click)="showChart3()"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
               </div>
               <div class="col-md-11 col-sm-11 col-xs-11">
                   <div [style.display]="isPie3 ? 'block' : 'none'">
                   <div id="chartContainer6" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                   </div>
                   <div [style.display]="isChart3 ? 'block' : 'none'">
                       <div id="chartContainer7" style="width: 100%; height: 250px;"></div>
                  
                   </div> 
                   <div *ngIf="isGrid3"><ag-grid-angular
           style="width: 100%; height: 250px;"
           class="ag-theme-alpine"
           [rowData]="rowData3"
           [columnDefs]="columnDefs3"
           [enableFilter]="false"
             [enableSorting]="true"
             [showToolPanel]="true">
       </ag-grid-angular>
               </div>
           </div>
               
         
           </div>
       </div>
      
                
          
                           


             
   </div>

</div>