.canvasjs-chart-credit{display:none !important}
.canvasjs-chart-canvas{position:absolute; top:10px !important}
h5{ color: #003974;
    font-weight: bold;
    text-align: center;}
.iconBox{
    width: 60px;
    position: absolute;
    right: 20px;
    z-index: 9999;
    top: 28px;
    border: 1px solid #9bb2ca;}
.iconBox span{width:33%; display:inline-block; text-align: center;  padding: 2px 0px 1px 0px; cursor:pointer !important}
.iconBox span:first-child, .iconBox span:nth-child(2){border-right:1px solid #9bb2ca}
.iconBox span i{  color: #003974;
    font-size: 12px;}
.report{color: #003974;
    padding: 3px 5px;
}
.report input{ vertical-align: sub;color: #003974;}
.bs-datepicker-container{width:80% !important; z-index:9999 !important}
.bottom, .ng-tns-c44-3, .ng-star-inserted{z-index:9999 !important}
.dateSelect input[type="text"]{height:25px}

.canvasjs-chart-toolbar button{display:none !important}

