<div class="main-content maincontainer">
     <div class="content">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="chartContainer" style="width: 100%; height: 400px;"></div>
   

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="chartContainer1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
            </div>
           

        </div>
       
                 
           
                            
 

              
    </div>

</div>